<ng-template #accountActions>
    <ng-template #accountActionsMenu>
        <button mat-menu-item (click)="copyAccountAddressMobile()">
            <mat-icon>content_copy</mat-icon>
            <span>Copy Address</span>
        </button>
        <button mat-menu-item (click)="openFilterDialog()">
            <mat-icon>filter_list</mat-icon>
            <span>Filter Transactions</span>
        </button>
        <button mat-menu-item (click)="changeRep()">
            <mat-icon>how_to_vote</mat-icon>
            <span>Change Representative</span>
        </button>
        <button mat-menu-item (click)="refreshCurrentAccountInfo()">
            <mat-icon>refresh</mat-icon>
            <span>Refresh Account</span>
        </button>
    </ng-template>
    <ng-template #accountActionsTrigger>
        <mat-icon>more_vert</mat-icon>
    </ng-template>
    <responsive-menu
        style="margin-right: -8px"
        menuTitle="Account Actions"
        [(open)]="isAccountActionsMobileMenuOpen"
        [menu]="accountActionsMenu"
        [desktopTrigger]="accountActionsTrigger"
        [mobileTrigger]="accountActionsTrigger"
    >
    </responsive-menu>
</ng-template>

<ng-template #receiveButton>
    <button
        blui-inline
        mat-flat-button
        data-cy="receive-action"
        color="primary"
        (click)="receive()"
        style="margin-right: 16px"
        [style.width.%]="vp.sm ? 100 : 'unset'"
        [disabled]="account.pending.length === 0"
    >
        <mat-icon>download</mat-icon>
        <span>Receive {{ vp.md || vp.sm ? '' : ' Incoming' }}</span>
        <span *ngIf="account.pending.length > 0">&nbsp;({{ account.pending.length }})</span>
    </button>
</ng-template>

<ng-template #sendButton>
    <button
        blui-inline
        mat-flat-button
        data-cy="send-action"
        color="primary"
        (click)="send()"
        style="margin-right: 16px"
        [style.width.%]="vp.sm ? 100 : 'unset'"
        [disabled]="account.balance === 0"
    >
        <mat-icon>upload</mat-icon>
        <span>Send</span>
    </button>
</ng-template>

<div class="app-root">
    <mat-toolbar color="primary" class="mat-elevation-z2 app-toolbar" responsive>
        <div style="display: flex; align-items: center">
            <button mat-icon-button (click)="goHome()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <div
                [style.marginLeft.px]="8"
                *ngIf="account"
                style="font-size: 1.125rem; display: flex; align-items: center"
                class="mono"
            >
                <div *ngIf="!vp.md && !vp.sm">
                    <span>{{ account?.fullAddress.substring(0, 12) }}</span>
                    <span style="font-weight: 400; opacity: 0.75">{{ account?.fullAddress.substring(12, 58) }}</span>
                    <span>{{ account?.fullAddress.substring(58, 64) }}</span>
                </div>
                <div *ngIf="vp.md || vp.sm">
                    <span>{{ account?.fullAddress.substring(0, 12) }}</span>
                    <span>...</span>
                    <span>{{ account?.fullAddress.substring(58, 64) }}</span>
                </div>

                <button mat-icon-button (click)="copyAccountAddressDesktop()" style="margin-left: 8px" *ngIf="!vp.sm">
                    <mat-icon>
                        {{ hasCopiedAccountAddress ? 'check_circle' : 'content_copy' }}
                    </mat-icon>
                </button>
            </div>
        </div>
        <div style="display: flex">
            <app-account-settings></app-account-settings>
        </div>
    </mat-toolbar>
    <mat-toolbar
        color="warn"
        responsive
        class="mat-elevation-z2 app-toolbar rep-offline-banner"
        *ngIf="isRepOffline() && !warnBannerDismissed"
    >
        <div class="mat-body-2">
            Your current representative is <strong>offline</strong>. If this happens often, it is suggested that you
            update to a recommended rep.
            <span class="link" style="color: unset" (click)="openChangeRepDocs()">Why is this important?</span>
        </div>
        <button
            mat-icon-button
            (click)="dismissRepOfflineBanner()"
            style="margin-left: 16px; height: 24px; width: 24px; line-height: 24px"
        >
            <mat-icon style="font-size: 16px">close</mat-icon>
        </button>
    </mat-toolbar>

    <div class="app-body" *ngIf="account" responsive>
        <div class="app-body-content">
            <mat-card *ngIf="vp.sm">
                <div style="display: flex; justify-content: space-between; align-items: center">
                    <div class="mat-subheading-2" style="margin-bottom: 0">
                        <strong>{{ account.formattedBalance }} BAN </strong>Balance
                    </div>
                    <ng-template [ngTemplateOutlet]="accountActions"></ng-template>
                </div>
                <div class="mat-overline" style="margin-top: 8px; margin-bottom: -8px">Transactions</div>
            </mat-card>

            <mat-card
                *ngIf="!vp.sm"
                style="
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 16px;
                    margin-top: 16px;
                    margin-bottom: 32px;
                "
            >
                <div style="display: flex; align-items: center">
                    <img
                        style="height: 150px; margin-top: -16px; width: 150px; margin-right: 16px; margin-left: -16px"
                        [src]="getMonkeyUrl()"
                    />
                    <div style="display: flex; flex-direction: column; justify-content: center; height: 150px">
                        <div class="mat-headline">
                            <strong>{{ account.formattedBalance }} BAN </strong>Balance
                        </div>
                        <div style="display: flex">
                            <ng-template [ngTemplateOutlet]="receiveButton"></ng-template>
                            <ng-template [ngTemplateOutlet]="sendButton"></ng-template>
                            <button
                                blui-inline
                                mat-flat-button
                                data-cy="change-action"
                                color="primary"
                                (click)="changeRep()"
                                [disabled]="!account.representative"
                            >
                                <mat-icon>how_to_vote</mat-icon>
                                <span>Change {{ vp.md ? '' : 'Representative' }}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <app-qr *ngIf="!vp.sm" [address]="account.fullAddress"></app-qr>
            </mat-card>

            <mat-card style="padding-bottom: 0px" [style.paddingTop.px]="vp.sm ? 0 : 16">
                <div
                    *ngIf="!vp.sm"
                    [class.mat-headline]="!vp.sm"
                    [class.mat-subheading-2]="vp.sm"
                    style="padding: 0 4px; display: flex; align-items: center; justify-content: space-between"
                >
                    <div style="display: flex; align-items: center">
                        <span>Account History</span>
                        <button mat-icon-button (click)="refreshCurrentAccountInfo()" style="margin-left: 4px">
                            <mat-icon> refresh </mat-icon>
                        </button>
                    </div>
                    <div
                        style="display: flex; align-items: center; align-items: center"
                        *ngIf="!hideTransactionFilters"
                        class="fade"
                    >
                        <div class="mat-subheading-2" style="margin: 0; margin-right: 12px">
                            {{ vp.sm ? '' : 'Transaction ' }} Filters
                        </div>
                        <button mat-icon-button style="cursor: pointer" (click)="openFilterDialog()">
                            <mat-icon>
                                {{ isFilterApplied() ? 'filter_list' : 'filter_list_off' }}
                            </mat-icon>
                        </button>
                    </div>
                </div>

                <mat-divider
                    *ngIf="!showProgressBar() && !vp.sm"
                    style="position: relative; margin-right: -16px; margin-left: -16px; width: calc(100% + 32px)"
                ></mat-divider>

                <div
                    *ngIf="showProgressBar() || showNoFilteredResultsEmptyState() || unopenedAccount"
                    class="empty-states"
                    [class.slow-fade-in]="showProgressBar()"
                >
                    <ng-container *ngIf="showNoFilteredResultsEmptyState()">
                        <blui-empty-state style="margin: 24px 0">
                            <mat-icon blui-empty-icon>waterfall_chart</mat-icon>
                            <div blui-title>No Results</div>
                            <div blui-description>
                                No transactions meet your filter criteria. Please adjust your filters and try again.
                            </div>
                        </blui-empty-state>
                    </ng-container>
                    <ng-container *ngIf="unopenedAccount">
                        <blui-empty-state style="margin: 24px 0">
                            <mat-icon blui-empty-icon>no_accounts</mat-icon>
                            <div blui-title>Unopened Account</div>
                            <div blui-description>To open this account, it must receive an incoming transaction.</div>
                        </blui-empty-state>
                    </ng-container>
                    <ng-container *ngIf="showProgressBar()">
                        <mat-progress-bar
                            *ngIf="showProgressBar()"
                            color="primary"
                            mode="indeterminate"
                            style="margin-bottom: 16px"
                        >
                        </mat-progress-bar>
                    </ng-container>
                </div>

                <cdk-virtual-scroll-viewport
                    *ngIf="ds && ds.firstPageLoaded"
                    [itemSize]="getTransactionRowHeight()"
                    data-cy="account-scroll-container"
                    [style.height.px]="countTotalDisplayableTxCount() * getTransactionRowHeight()"
                    class="scroll-container"
                    [class.repBanner]="isRepOffline() && !warnBannerDismissed"
                    responsive
                >
                    <div *cdkVirtualFor="let item of ds; let i = index; let even = even">
                        <blui-info-list-item
                            *ngIf="item"
                            [style.height.px]="getTransactionRowHeight()"
                            [style.backgroundColor]="
                                even
                                    ? isDark()
                                        ? colors.darkBlack[300]
                                        : colors.white[100]
                                    : isDark()
                                    ? colors.darkBlack[200]
                                    : colors.white[50]
                            "
                        >
                            <div blui-icon class="tx-state-icon">
                                <mat-icon *ngIf="item.type === 'receive'" class="receive">add_circle_outline</mat-icon>
                                <mat-icon *ngIf="item.type === 'send'" class="send">remove_circle_outline</mat-icon>
                                <mat-icon *ngIf="item.type === 'change'" class="change">change_history</mat-icon>
                            </div>
                            <div blui-title>{{ item.type }}</div>
                            <div blui-subtitle>{{ item.amount }}</div>
                            <div blui-right-content>
                                <div
                                    (mouseenter)="item.hover = true"
                                    (mouseleave)="item.hover = false"
                                    style="display: flex"
                                >
                                    <ng-container *ngIf="!vp.sm">
                                        <span *ngIf="item.type === 'receive'">from </span>
                                        <span *ngIf="item.type === 'send' || item.type === 'change'">to </span>
                                    </ng-container>
                                    <div
                                        class="link accounts-hash-link"
                                        [style.marginLeft.px]="8"
                                        (click)="openLink(item.hash)"
                                    >
                                        <ng-container *ngIf="item.type === 'receive' || item.type === 'send'">
                                            {{ formatAddress(item.address) }}
                                        </ng-container>
                                        <ng-container *ngIf="item.type === 'change'">
                                            {{ formatAddress(item.newRepresentative) }}
                                        </ng-container>
                                    </div>
                                    <button
                                        mat-icon-button
                                        *ngIf="item.hover"
                                        (click)="copyTransactionAddress(item)"
                                        style="
                                            cursor: pointer;
                                            margin-left: 8px;
                                            height: 24px;
                                            width: 24px;
                                            line-height: 24px;
                                        "
                                    >
                                        <mat-icon style="font-size: 16px">{{
                                            item.showCopiedIcon ? 'check_circle' : 'content_copy'
                                        }}</mat-icon>
                                    </button>
                                </div>
                                <span *ngIf="!vp.sm" [style.marginLeft.px]="32">
                                    tx #{{ util.numberWithCommas(item.height) }}
                                </span>
                            </div>
                        </blui-info-list-item>
                        <blui-info-list-item *ngIf="!item" [style.height.px]="getTransactionRowHeight()">
                            <mat-icon blui-icon>sync</mat-icon>
                            <div blui-title>Loading</div>
                            <div blui-right-content>
                                <span *ngIf="!vp.sm" [style.marginLeft.px]="32">
                                    tx #{{ util.numberWithCommas(accountHeight - i) }}
                                </span>
                            </div>
                        </blui-info-list-item>
                    </div>
                </cdk-virtual-scroll-viewport>
            </mat-card>

            <div *ngIf="vp.sm" style="position: fixed; bottom: 0px; width: 100%" class="account-mobile-footer">
                <mat-divider></mat-divider>
                <div style="width: 100%; display: flex; justify-content: space-between; padding: 16px">
                    <div style="width: 42%">
                        <ng-template [ngTemplateOutlet]="sendButton"></ng-template>
                    </div>
                    <div style="width: 42%">
                        <ng-template [ngTemplateOutlet]="receiveButton"></ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
