:host {
    width: 100%;
}

.app-body {
    ::ng-deep .blui-info-list-item-content .mat-list-item-content,
    .mat-list-base .mat-list-item.blui-info-list-item-content .mat-list-item-content {
        height: 50px;
    }
}

.rep-offline-banner {
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    height: unset;
    padding: 12px 62px;
    div {
        margin: 0;
        line-height: 22px;
        white-space: normal !important;
    }
}

.app-body-content > * {
    width: 100%;
}

@mixin fade {
    -webkit-animation: fadein 750ms; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 750ms; /* Firefox < 16 */
    -ms-animation: fadein 750ms; /* Internet Explorer */
    -o-animation: fadein 750ms; /* Opera < 12.1 */
    animation: fadein 750ms;
}

@mixin slow-fade {
    -webkit-animation: fadein 3000ms; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3000ms; /* Firefox < 16 */
    -ms-animation: fadein 3000ms; /* Internet Explorer */
    -o-animation: fadein 3000ms; /* Opera < 12.1 */
    animation: fadein 3000ms;
}

.empty-states {
    * {
        @include fade;
    }
    &.slow-fade-in * {
        @include slow-fade;
    }
}
.scroll-container {
    height: 60vh;
    width: 200px;
    border-radius: 4px;
    @include fade;
}

.ds-item {
    height: 50px;
}

.action-button {
    display: flex;
    align-items: end;
    height: 36px;
    margin-right: 16px;
    mat-icon {
        line-height: 24px;
        font-size: 16px;
        margin-left: -8px;
        margin-right: 4px;
    }
}
