@use 'assets/themes/mixins/mobile-action-button' as button;
@use 'assets/themes/mixins/small-icon-button' as common;
@use 'assets/themes/mixins/fade' as fade;

.results-empty-container {
    padding: 48px 0;
}

.mat-toolbar.rep-offline-banner {
    height: unset;
    min-height: 36px;
    display: flex;
    justify-content: space-between;
    padding: 4px 36px 4px 36px !important;
    @include common.small-icon-button(16px, 32px);
    * {
        color: var(--text-contrast);
    }
    &.sm {
        padding: 8px 16px !important;
    }
    div {
        margin: 0;
        line-height: 22px;
        white-space: normal !important;
    }
}

.accounts-hash-link {
    max-width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: monospace;
}

.app-body-content > * {
    width: 100%;
}

.sm .accounts-wrapper {
    mat-card {
        border-radius: 0;
    }
}

.desktop-account-history {
    padding: 16px 16px 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.empty-states {
    * {
        @include fade.fade();
    }
}

$sendReceiveRowHeight: 74px;
.account-history-scroll-container {
    border: 0 !important;
    border-radius: 0rem;
    box-sizing: content-box;
    width: 100%;
    $height: calc(100vh - 440px);
    max-height: $height;

    &.repBanner {
        max-height: calc($height - 40px);
    }
    @include fade.fade();
    $smToolbarHeight: 40px;
    $accountInfoHeight: 90px;
    &.sm {
        .cdk-virtual-scroll-content-wrapper {
            padding: 0.5rem 0;
        }

        max-height: calc(100vh - $smToolbarHeight - $accountInfoHeight - $sendReceiveRowHeight - 1px);
        max-height: calc(var(--app-height) - $smToolbarHeight - $accountInfoHeight - $sendReceiveRowHeight - 1px);
        &.repBanner {
            $mobileBannerHeight: 82px;
            max-height: calc(
                100vh - $smToolbarHeight - $accountInfoHeight - $sendReceiveRowHeight - $mobileBannerHeight
            );
            max-height: calc(
                var(--app-height) - $smToolbarHeight - $accountInfoHeight - $sendReceiveRowHeight - $mobileBannerHeight
            );
        }
    }
}

.account-mobile-footer {
    height: $sendReceiveRowHeight;
    background: var(--card);
    @include button.mobile-button-styles();
}
