<div class="app-root">
    <mat-toolbar color="accent" class="mat-elevation-z2 app-toolbar">
        <div style="display: flex; align-items: center">
            <button mat-icon-button (click)="goHome()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <div [style.marginLeft.px]="8">{{ overview?.fullAddress }}</div>
        </div>
        <app-user-menu></app-user-menu>
    </mat-toolbar>
    <mat-toolbar
        color="warn"
        class="mat-elevation-z2 app-toolbar rep-offline-banner"
        *ngIf="isRepOffline(overview?.representative) && !warnBannerDismissed"
    >
        <div class="mat-subheading-2">Your current representative is <strong>offline</strong>. If this happens often, it is suggested that you use
            the Change Representative button below to select a recommended rep.
            <span class="link" style="color: unset" (click)="openChangeRepDocs()">Why is this important?</span>
        </div>
        <button mat-icon-button (click)="warnBannerDismissed = true" style="margin-left: 16px">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>

    <div class="app-body" *ngIf="overview">
        <div class="app-body-content">
            <div style="display: flex; align-items: center; justify-content: space-between">
                <div style="margin: 16px 0">
                    <div class="mat-headline" style="margin-bottom: 16px">
                        <strong>{{ overview.formattedBalance }} BAN </strong>Balance
                    </div>
                    <div style="display: flex">
                        <button
                            mat-stroked-button
                            color="primary"
                            class="action-button"
                            (click)="receive()"
                            [disabled]="overview.pending.length === 0"
                        >
                            <mat-icon>attach_money</mat-icon>
                            <span>Receive Incoming</span>
                            <span *ngIf="overview.pending.length > 0"> ({{ overview.pending.length }})</span>
                        </button>

                        <button
                            mat-stroked-button
                            color="primary"
                            class="action-button"
                            (click)="send()"
                            [disabled]="overview.balance === 0"
                        >
                            <mat-icon>reply</mat-icon>
                            <span>Send</span>
                        </button>
                        <button
                            mat-stroked-button
                            color="primary"
                            class="action-button"
                            (click)="changeRep()"
                            [disabled]="!overview.representative"
                        >
                            <mat-icon>how_to_vote</mat-icon>
                            <span>Change Representative</span>
                        </button>
                    </div>
                </div>
                <app-qr [address]="overview.fullAddress"></app-qr>
            </div>
            <div class="mat-headline" style="margin: 16px 0; display: flex; align-items: center">
                <span>
                    Account History
                </span>
                <mat-icon
                    style="margin-left: 16px; cursor: pointer"
                    (click)="refreshCurrentAccountInfo()">
                    refresh
                </mat-icon>
            </div>
            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" [style.maxHeight.px]="blockCount * 50">
                <div *cdkVirtualFor="let item of ds; let i = index; let even = even" class="example-item">
                    <blui-info-list-item
                        *ngIf="item"
                        style="height: 50px"
                        [style.backgroundColor]="
                            even
                                ? isDark()
                                    ? colors.darkBlack[300]
                                    : colors.white[100]
                                : isDark()
                                    ? colors.darkBlack[200]
                                    : colors.white[50]
                        "
                    >
                        <div blui-icon>
                            <mat-icon *ngIf="item.type === 'receive'" [style.color]="colors.green[500]"
                                >add_circle_outline</mat-icon
                            >
                            <mat-icon *ngIf="item.type === 'send'" [style.color]="colors.red[500]"
                                >remove_circle_outline</mat-icon
                            >
                            <mat-icon *ngIf="item.type === 'change'" [style.color]="colors.blue[500]"
                                >change_history</mat-icon
                            >
                        </div>
                        <div blui-title>{{ item.type }}</div>
                        <div blui-subtitle>{{ item.amount }}</div>
                        <div blui-right-content>
                            <span (mouseenter)="item.hover=true" (mouseleave)="item.hover=false">
                                <span *ngIf="item.type === 'receive'">from </span>
                                <span *ngIf="item.type === 'send' || item.type === 'change'">to </span>
                                <span
                                    class="link accounts-hash-link"
                                    [style.marginLeft.px]="8"
                                    (click)="openLink(item.hash)"
                                >
                                    <ng-container *ngIf="item.type === 'receive' || item.type === 'send'">
                                        {{ formatAddress(item.address) }}
                                    </ng-container>
                                    <ng-container *ngIf="item.type === 'change'">
                                        {{ formatAddress(item.newRepresentative) }}
                                    </ng-container>
                                </span>
                                <button mat-icon-button *ngIf="item.hover"  (click)="copy(item)"
                                        style="cursor: pointer;
                                        margin-left: 8px;
                                        height: 24px;
                                        width: 24px; line-height: 24px" >
                                <mat-icon  style="font-size:16px;" >{{ item.showCopiedIcon ? 'check_circle' : 'copy_all'}}</mat-icon>
                                </button>
                            </span>
                            <span [style.marginLeft.px]="32">tx #{{ util.numberWithCommas(blockCount - i) }}</span>
                        </div>
                    </blui-info-list-item>

                    <blui-info-list-item *ngIf="!item" style="height: 50px">
                        <div blui-icon>
                            <mat-icon>sync</mat-icon>
                        </div>
                        <div blui-title>Loading</div>
                        <div blui-right-content>
                            <span [style.marginLeft.px]="32">tx #{{ util.numberWithCommas(blockCount - i) }}</span>
                        </div>
                    </blui-info-list-item>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>
