@use 'assets/themes/mixins/fade' as fade;

.account-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: var(--dashboard-accounts-container-bg);
    padding: 0rem 2rem 2rem 2rem;
    &.sm {
        padding: 0rem 1rem 2rem 1rem;
    }
    @include fade.fade();
    * {
        @include fade.fade();
    }
}
.account-card {
    border-radius: 1rem !important;
    padding: 1rem;
    padding-bottom: 0;
    position: relative;
    width: 31.3333%;
    box-sizing: border-box;
    margin: 2rem 1% 0 1%;
    @media (max-width: 1500px) {
        width: 48%;
    }
    @media (max-width: 1100px) {
        width: 100%;
    }
    .empty-state-content .description {
        margin-bottom: 0;
    }
    .card-account-number {
        position: absolute;
        top: 8px;
        left: 16px;
    }
    .detail-row {
        display: flex;
        align-items: center;
        padding: 6px 0;
        color: var(--text-secondary);
        strong {
            color: var(--text);
        }
        mat-icon {
            $size: 18px;
            height: $size;
            width: $size;
            font-size: $size;
            line-height: $size;
            margin-right: 16px;
            color: var(--icon-secondary);
        }
    }
    .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0 16px 8px;
        cursor: pointer;
    }
}
