:host {
    display: flex;
    width: 100%;
}

.enter-secret-overlay {
    max-width: 350px;
    width: 305px;
    display: flex;
    flex-direction: column;

    .close-button {
        width: 100px;
        display: flex;
        justify-content: center;
    }

    .radio {
        margin: 8px 0;
    }
}
