@use 'assets/themes/mixins/fade' as fade;

.account-table-container .mdc-data-table__content {
    * {
        @include fade.fade();
    }
    tr * {
        transition: color 100ms;
    }
    tr:hover {
        * {
            color: var(--primary);
        }
    }
}
