@use 'assets/themes/mixins/fade' as fade;

.dashboard-accounts-container.show-table.sm {
    margin: 16px;
}

.account-table-container .mdc-data-table__content {
    * {
        @include fade.fade();
    }
}
.sm {
    .account-table-container {
        border: solid 1px var(--divider-border);
        overflow: hidden;
        border-radius: 1rem;
        th,
        td {
            font-size: 13px;
            padding: 0 4px;
        }
        th:first-child,
        td:first-child {
            padding-left: 32px;
        }
        th:last-child,
        td:last-child {
            padding-right: 4px;
        }
    }
}
