:host {
    display: flex;
}
::ng-deep .app-create-wallet-bottom-sheet .create-wallet-overlay {
    max-width: unset !important;
    width: 100% !important;
    .mat-dialog-actions {
        padding-top: 16px !important;
        padding-bottom: 8px !important;
    }
}
