.change-password-overlay {
    max-width: 340px;
    width: 340px;
    height: 555px;

    .error-row {
        display: flex;
        align-items: center;
    }

    .indicator-icon {
        $size: 14px;
        height: $size;
        font-size: $size;
        line-height: $size;
        width: $size;
        margin-right: 12px;
    }
}
