.create-wallet-overlay {
    width: 380px;
    ::ng-deep .mat-expansion-panel-body {
        padding-top: 16px;
    }
    .title-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        * {
            margin-bottom: 0;
        }
        button {
            margin-left: 8px;
        }
        mat-icon {
            $size: 16px;
            font-size: $size;
            width: $size;
            height: $size;
            line-height: $size;
        }
        .mat-mdc-icon-button,
        .mat-mdc-icon-button .mat-mdc-button-touch-target {
            --mdc-icon-button-state-layer-size: 32px;
            padding: 0;
            height: var(--mdc-icon-button-state-layer-size);
            width: var(--mdc-icon-button-state-layer-size);
            line-height: var(--mdc-icon-button-state-layer-size);
            font-size: var(--mdc-icon-button-state-layer-size);
        }
    }
}
