@use 'assets/themes/mixins/small-icon-button' as common;

.create-wallet-overlay {
    width: 380px;
    ::ng-deep .mat-expansion-panel-body {
        padding-top: 16px;
    }
    .title-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        * {
            margin-bottom: 0;
        }
        button {
            margin-left: 8px;
        }
        @include common.small-icon-button();
    }
}
