$card-horizontal-padding: 16px;
.app-settings-page {
    mat-card {
        width: 100%;
        padding: 24px $card-horizontal-padding;
    }
    .mat-headline-6 {
        margin-bottom: 16px;
    }
    ::ng-deep {
        .mat-mdc-radio-button {
            display: block;
            margin: 16px 0;
        }
        /* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
        .mat-radio-label-content {
            word-break: break-all;
            padding-left: 16px;
            * {
                display: flex;
                align-items: center;
            }
        }
        .mono {
            font-size: 12px;
        }
    }
    .mat-mdc-card > .mat-divider-horizontal {
        position: unset;
        margin-left: -$card-horizontal-padding;
        margin-right: -$card-horizontal-padding;
        width: unset;
    }

    &.sm {
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        mat-card {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
    .account-security-option {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        align-items: center;

        button {
            margin-left: 16px;
        }
        &.sm {
            flex-direction: column;
            align-items: flex-start;
            button {
                margin-left: 0;
                margin-top: 12px;
                margin-bottom: 8px;
            }
        }
    }
}
