.content {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .title {
        font-weight: 600;
        margin-bottom: 0px;
    }

    .title,
    .description {
        text-align: center;
    }

    .icon-wrapper {
        margin-bottom: 1rem;
        line-height: 1;
        ::ng-deep > * {
            $size: 96px;
            display: block;
            font-size: $size;
            height: $size;
            width: $size;
            text-align: center;
        }
    }

    .actions-wrapper {
        margin-top: 1rem;
    }
}
