.cdk-overlay-backdrop-showing {
    &.responsive-menu-overlay-backdrop {
        background-color: unset;
    }
    &.responsive-menu-bottomsheet-backdrop {
        background-color: #424e54;
        opacity: 0.5;
    }
}

.cdk-overlay-backdrop.responsive-menu-bottomsheet-backdrop,
.cdk-overlay-backdrop.responsive-menu-overlay-backdrop {
    transition: all 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.responsive-menu-overlay.responsive-menu-bottomsheet .mat-icon {
    margin-right: 24px;
}

.sm {
    .responsive-menu-trigger-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
    }
}
