@use 'node_modules/@brightlayer-ui/colors/palette' as blui;
@use 'node_modules/@angular/material' as mat;
@use '../mixins/typography';
@use '../mixins/mdc-customization';
@use 'palette-classes';
@use 'sass:map';

$my-primary: mat.define-palette(blui.$blui-yellow, 500);
$my-accent: mat.define-palette(blui.$blui-yellow, 900);
$my-warn: mat.define-palette(blui.$blui-red, 500);
$my-typography: mat.define-typography-config();

$banano-yellow-theme: mat.define-dark-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
    ),
    typography: typography.$custom-typography
));

.banano-yellow {
    @include mat.all-component-colors($banano-yellow-theme);
    @include mat.typography-hierarchy($banano-yellow-theme);
    @include typography.custom-typography-rules();
    @include palette-classes.utility-classes();
    @include mdc-customization.mdc-overrides();

    --primary:          #{map-get($my-primary, 500)};
    --warn:             #{map-get($my-warn, 300)};
    --card:             #{map-get(blui.$blui-black, 900)};
    --text-contrast:    #{map-get(blui.$blui-black, 900)};
    --text:             #{map-get(blui.$blui-black, 100)};
    --hint:             #{map-get(blui.$blui-black, 300)};
    --link:             var(--primary);
    --icon-primary:     #{map-get(blui.$blui-black, 100)};
    --icon-secondary:   #{map-get(blui.$blui-black, 300)};
    --divider:          rgba(183, 183, 183, 0.12);
    --divider-border:   rgba(183, 183, 183, 0.08);
    --input-focus-bg:   #{map-get(blui.$blui-vantaBlack, 500)};

    --mdc-theme-surface: var(--card);

    .mat-toolbar.mat-primary {
        background: map-get(blui.$blui-vantaBlack, 400);
        --text-contrast:  #{map-get(blui.$blui-white, 500)};
    }

    .mat-mdc-card {
        --mdc-elevated-card-container-color: var(--card);
    }

    &.mat-app-background {
        background: map-get(blui.$blui-vantaBlack, 300);
    }

    .tx-state-icon .mat-icon {
        color: var(--primary);
    }

    .cdk-overlay-dark-backdrop {
        background: rgba(58, 58, 58, 0.71);
    }

    .accounts-hash-link {
        color: var(--text)!important;
    }

    .mat-mdc-dialog-container {
        .mdc-dialog__surface {
            --mdc-dialog-container-color: var(--card);
        }
    }

    .mat-expansion-panel,
    .add-index-overlay .add-accounts-example,
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background: map-get(blui.$blui-vantaBlack, 200);
    }
}



