@use 'node_modules/@brightlayer-ui/colors/palette' as blui;
@use 'node_modules/@angular/material' as mat;
@use '../mixins/typography';
@use '../mixins/mdc-customization';
@use 'palette-classes';
@use 'sass:map';

$my-primary: mat.define-palette(blui.$blui-yellow, 500);
$my-accent: mat.define-palette(blui.$blui-yellow, 900);
$my-warn: mat.define-palette(blui.$blui-red, 500);
$my-typography: mat.define-typography-config();

$banano-yellow-theme: mat.define-dark-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
    ),
    typography: typography.$custom-typography
));

.banano-yellow {
    @include mat.all-component-colors($banano-yellow-theme);
    @include mat.typography-hierarchy($banano-yellow-theme);
    @include typography.custom-typography-rules();
    @include palette-classes.utility-classes();
    @include mdc-customization.mdc-overrides();

    --primary:          #{map-get($my-primary, 500)};
    --primary-light-2:  #{rgba(map-get($my-primary, 500), .8)};
    --dashboard-accounts-container-bg: #{map-get(blui.$blui-black, 900)};
    --warn:             #{map-get($my-warn, 300)};
    --card:             #{map-get(blui.$blui-black, 900)};
    --text-contrast:    #{map-get(blui.$blui-black, 900)};
    --text:             #{map-get(blui.$blui-black, 100)};
    --text-secondary:   #{map-get(blui.$blui-black, 200)};
    --hint:             #{map-get(blui.$blui-black, 300)};
    --link:             var(--primary);
    --icon-primary:     #{map-get(blui.$blui-black, 100)};
    --icon-secondary:   #{map-get(blui.$blui-black, 300)};
    --divider:          rgba(183, 183, 183, 0.2);
    --divider-border:   rgba(183, 183, 183, 0.2);
    --input-focus-bg:   #{map-get(blui.$blui-vantaBlack, 500)};

    --mdc-theme-surface: var(--card);

    app-dashboard.sm {
        height: 100%;
        background: var(--dashboard-accounts-container-bg);
    }

    .sm app-account-table {
        background: #1d252900!important;
    }

    .dashboard-header {
        background-image: linear-gradient(90deg,
            #{map-get(blui.$blui-vantaBlack, 500)} 10%,
            #{rgba(map-get(blui.$blui-vantaBlack, 500), .9)} 100%),
        url('~assets/images/bg-faucet-dark.svg');
        .text-contrast {
            --text-contrast: var(--text);
        }
    }

   .mat-toolbar.mat-primary {
        background: map-get(blui.$blui-vantaBlack, 400);
        --text-contrast:  #{map-get(blui.$blui-white, 500)};
    }

    .mat-mdc-table {
        background: var(--card);
    }

    .mat-mdc-card-outlined {
        --mdc-outlined-card-container-color: var(--card);
        box-shadow: none!important;
    }

    --background: #{map-get(blui.$blui-vantaBlack, 300)};
    &.mat-app-background, .account-card,  .mobile-actions .mat-mdc-card {
        background: var(--background);
    }

    .tx-state-icon .mat-icon {
        color: var(--primary);
    }

    .cdk-overlay-dark-backdrop {
        background: rgba(58, 58, 58, 0.71);
    }

    .accounts-hash-link {
        color: var(--text)!important;
    }

    .mat-mdc-dialog-container {
        .mdc-dialog__surface {
            --mdc-dialog-container-color: var(--card);
        }
    }

    .mat-mdc-menu-panel {
        --mat-menu-container-color: var(--card);
    }

    .mat-expansion-panel,
    .add-index-overlay .add-accounts-example,
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background: map-get(blui.$blui-vantaBlack, 200);
    }

    .mat-toolbar.mat-warn {
        background: var(--warn);
    }

    .mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
        color: var(--card);
    }
}



