@use 'node_modules/@brightlayer-ui/colors/palette' as blui;
@use 'node_modules/@angular/material' as mat;
@use '../mixins/typography';
@use '../mixins/mdc-customization';
@use 'palette-classes';

$my-primary: mat.define-palette(blui.$blui-blue, 500);
$my-accent: mat.define-palette(blui.$blui-blue, 700);
$my-warn: mat.define-palette(blui.$blui-red, 500);
$my-typography: mat.define-typography-config();

$nano-blue-theme: mat.define-light-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
    ),
    typography: typography.$custom-typography
));

.nano-blue {
    @include mat.all-component-colors($nano-blue-theme);
    @include mat.typography-hierarchy($nano-blue-theme);
    @include typography.custom-typography-rules();
    @include palette-classes.utility-classes();
    @include mdc-customization.mdc-overrides();

    --primary:                          #{map-get($my-primary, 500)};
    --primary-light-2:                  #{rgba(map-get($my-primary, 500), .9)};
    --dashboard-accounts-container-bg: #{map-get(blui.$blui-white, 100)};
    --warn:                             #{map-get($my-warn, 500)};
    --card:                             #{map-get(blui.$blui-white, 100)};
    --text-contrast:                    #{map-get(blui.$blui-white, 50)};
    --text:                             #{map-get(blui.$blui-black, 500)};
    --text-secondary:                   #{map-get(blui.$blui-black, 300)};
    --hint:                             #{map-get(blui.$blui-black, 200)};
    --link:                             #{map-get(blui.$blui-blue, 500)};
    --icon-primary:                     #{map-get(blui.$blui-black, 500)};
    --icon-secondary:                   #{map-get(blui.$blui-black, 300)};
    --divider:                          rgba(66, 78, 84, 0.15);
    --divider-border:                   rgba(66, 78, 84, 0.15);
    --input-focus-bg:                   #{map-get(blui.$blui-gray, 50)};

    .mat-mdc-card {
        box-shadow: unset;
    }
}
