@mixin utility-classes() {
    .primary,
    .primary * {
        color: var(--primary);
    }
    .warn, .warn * {
        color: var(--warn);
    }

    .divider {
        color: var(--divider);
    }

    .divider-border {
        border: solid 1px var(--divider-border);
    }

    .mat-icon {
        color: var(--icon-primary);
    }

    .icon-secondary {
        color: var(--icon-secondary);
    }

    .text-contrast {
        color: var(--text-contrast);
    }
    .stroke-contrast {
        stroke:  var(--text-contrast);
        --mdc-circular-progress-active-indicator-color: var(--text-contrast);
    }

    .link {
        color: var(--link);
    }

    .hint {
        color: var(--hint);
    }
}
