<section class="login-section" [class.fullScreen]="!useCard">
    <div
        style="
            width: 100vw;
            height: 100vh;
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: -1;
        "
    >
        <img src="assets/banana.svg" style="height: 87vh; margin-top: 0vh; margin-right: 40vw" />
    </div>

    <mat-card class="login-card">
        <mat-card-header *ngIf="useCard" class="password-form-card-header">
            <mat-card-title style="margin-bottom: 0">Welcome Back!</mat-card-title>
        </mat-card-header>
        <mat-card-content class="login-card-content">
            <p class="login-card-subtitle">Your wallet is locked; enter your password below to access your account.</p>
            <mat-divider class="top-divider"></mat-divider>
            <form>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input
                        matInput [formControl]="password"
                        [type]="passwordVisible ? 'text' : 'password'"
                        placeholder="Password"

                    />
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                        <mat-icon>{{ passwordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="hasIncorrectPassword">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-divider class="bottom-divider"></mat-divider>
        <mat-card-actions>
            <button mat-stroked-button class="cancel-button" (click)="cancel.emit()" color="primary">Home</button>
            <button mat-flat-button class="submit-button" (click)="login()" color="primary">Unlock</button>
        </mat-card-actions>
    </mat-card>
</section>
