<section class="login-section" [class.fullScreen]="!isMobileView">
    <mat-card appearance="outlined" class="login-card">
        <mat-card-header *ngIf="isMobileView" class="password-form-card-header">
            <mat-card-title style="margin-bottom: 0">Welcome Back!</mat-card-title>
        </mat-card-header>
        <mat-card-content class="login-card-content">
            <p class="login-card-subtitle">Your wallet is locked; enter your password below to access your account.</p>
            <mat-divider class="top-divider"></mat-divider>
            <form>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input
                        matInput
                        id="active-wallet-password-input"
                        data-cy="active-wallet-password-input"
                        [formControl]="password"
                        [type]="passwordVisible ? 'text' : 'password'"
                        placeholder="Password"
                        (keyup.enter)="pressEnterKey($event)"
                    />
                    <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                        <mat-icon>{{ passwordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="hasIncorrectPassword">{{ getErrorMessage() }}</mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-divider class="bottom-divider"></mat-divider>
        <mat-card-actions>
            <button mat-stroked-button class="cancel-button" (click)="cancel.emit()" color="primary">Home</button>
            <button
                mat-flat-button
                class="submit-button"
                (click)="login()"
                color="primary"
                data-cy="account-unlock-button"
            >
                Unlock
            </button>
        </mat-card-actions>
    </mat-card>
</section>
