.seed-dialog {
    max-width: 350px;
    width: 305px;
    height: 400px;
    display: flex;
    flex-direction: column;
    .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }

    .close-button {
        width: 100px;
        display: flex;
        justify-content: center;
    }

    .radio {
        margin: 8px 0;
    }
    ::ng-deep .mat-checkbox-label {
        margin-left: 8px !important;
    }
}
