<div class="mobile-stepper-content">
    <ng-content select="[back-button]"></ng-content>
    <div class="mobile-stepper-progress-indicator">
        <div *ngIf="variant === 'dots'" class="mobile-stepper-dots">
            <div
                *ngFor="let step of stepsArray; let index = index"
                class="mobile-stepper-dot"
                [class.mobile-stepper-dot-visited]="index < activeStep"
                [class.mobile-stepper-dot-active]="index === activeStep"
                [class.mobile-stepper-dot-unvisited]="index > activeStep"
            ></div>
        </div>
        <div *ngIf="variant === 'text'" class="mat-subtitle-1">{{ activeStep + 1 }} / {{ stepsArray.length }}</div>
        <mat-progress-bar
            *ngIf="variant === 'progress'"
            mode="determinate"
            [value]="getProgressFill()"
        ></mat-progress-bar>
    </div>
    <ng-content select="[next-button]"></ng-content>
</div>
