<ng-template #login>
    <app-login data-cy="login-wrapper" (cancel)="hasCanceledLogin = true"></app-login>
</ng-template>

<ng-template #appBar>
    <mat-toolbar color="primary" class="mat-elevation-z2 app-toolbar" responsive>
        <div style="display: flex; align-items: center; justify-content: space-between; width: 100%">
            <mat-icon [style.color]="colors.yellow[300]">storefront</mat-icon>
            <app-account-settings></app-account-settings>
        </div>
    </mat-toolbar>
</ng-template>

<ng-template #dashboard>
    <app-dashboard data-cy="dashboard-wrapper"></app-dashboard>
</ng-template>

<ng-template #home>
    <div class="app-body home-body" data-cy="home-wrapper" responsive>
        <blui-spacer></blui-spacer>

        <div class="app-body-content home-content">
            <div *ngIf="!vp.sm" class="mat-headline-4 home-logo-wrapper">
                <mat-icon class="home-bananostand-logo-icon" [style.color]="colors.yellow[300]"> storefront </mat-icon>
                <div>The Banano Stand</div>
            </div>

            <div class="mat-body-1" style="padding: 0 24px; margin-bottom: 16px">
                The Banano Stand is an online wallet used to send or receive Banano.
            </div>

            <div style="display: flex; flex-wrap: wrap; justify-content: center">
                <mat-card appearance="outlined">
                    <app-empty-state>
                        <mat-icon>lock</mat-icon>
                        <div title>Seed / Mnemonic</div>
                        <div description>Enter your seed or mnemonic phrase to view accounts.</div>
                        <button data-cy="enter-secret" mat-flat-button color="primary" (click)="openEnterSeedDialog()">
                            Enter Secret
                        </button>
                    </app-empty-state>
                </mat-card>

                <mat-card appearance="outlined">
                    <app-empty-state>
                        <mat-icon>usb</mat-icon>
                        <div title>Nano Ledger</div>
                        <div description>
                            Load accounts by reading data from a USB-connected
                            <a [href]="ledgerUrl" target="_blank" class="link">Ledger</a>
                            device.
                        </div>
                        <button mat-flat-button color="primary" (click)="connectLedger()">Load Ledger</button>
                    </app-empty-state>
                </mat-card>
            </div>

            <div style="margin-top: 16px" class="mat-body-1">
                <span>New wallet?</span>
                <span class="link" style="margin-left: 4px" (click)="openNewWalletDialog()">Make me one!</span>
            </div>

            <ng-template [ngTemplateOutlet]="ledgerTroubleshootText" *ngIf="showLedgerTroubleshootText"></ng-template>
            <strong style="visibility: hidden"><!-- Load error font styles --></strong>
        </div>

        <blui-spacer></blui-spacer>

        <div style="display: flex; align-items: center; margin-top: 16px">
            <img src="assets/images/github-icon.svg" style="margin-right: 8px" />
            <a [href]="githubUrl" target="_blank" style="text-align: center; margin: 8px 0px" class="link mat-body-1">GitHub</a>
        </div>
    </div>
</ng-template>

<ng-template #ledgerTroubleshootText>
    <mat-card appearance="outlined" class="home-ledger-error-card" [@fade]="'active'">
        <div class="mat-body-1" style="margin-bottom: 16px">
            Follow these steps for help connecting your Ledger device:
        </div>
        <div class="mat-body-1 instructions">
            <div><strong>#1</strong> Connect your Ledger Device via USB.</div>
            <div><strong>#2</strong> Ensure the Banano app is installed and the version is up-to-date (>v1.2.6).</div>
            <div><strong>#3</strong> Ensure no other wallet software is attempting to access your ledger device.</div>
            <div><strong>#4</strong> Open this web page in Brave, Chrome, or Edge Browser.</div>
            <div><strong>#5</strong> Open the Banano app on your Ledger.</div>
            <div><strong>#6</strong> Click the "Load Accounts" button above.</div>
        </div>
    </mat-card>
</ng-template>

<div class="app-root">
    <ng-template [ngTemplateOutlet]="appBar"></ng-template>
    <ng-template [ngTemplateOutlet]="login" *ngIf="showLogin()"></ng-template>
    <ng-template [ngTemplateOutlet]="dashboard" *ngIf="showDashboard()"></ng-template>
    <ng-template [ngTemplateOutlet]="home" *ngIf="showHome()"></ng-template>
</div>

<!--  <p>{{ (store$ | async).unlockedLocalSecret }}</p> -->
