<div class="app-root">
    <mat-toolbar color="primary" class="mat-elevation-z2 app-toolbar">
        <div [style.marginLeft.px]="isSmall() ? 8 : 24" style="display: flex; align-items: center">
            <mat-icon [style.color]="colors.yellow[300]">storefront</mat-icon>
            <span style="margin-left: 12px">The Banano Stand</span>
        </div>
        <app-user-menu></app-user-menu>
    </mat-toolbar>

    <div class="app-body" *ngIf="showDashboard()" responsive>
        <div class="app-body-content">
            <app-dashboard></app-dashboard>
        </div>
    </div>

    <div class="app-body" *ngIf="!showDashboard()" responsive>
        <blui-spacer></blui-spacer>

        <div
            *ngIf="!isSmall()"
            style="
                width: 100vw;
                height: 100vh;
                position: fixed;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: -1;
            "
        >
            <img src="assets/bananas-svgrepo-com.svg" style="height: 87vh; margin-bottom: 13vh; margin-right: 40vw" />
        </div>

        <div class="app-body-content" style="justify-content: center; position: relative">
            <div style="text-align: center; margin-top: 32px">
                <div
                    class="mat-display-1"
                    style="display: flex; align-items: center; margin-bottom: 0; justify-content: center"
                >
                    <mat-icon
                        [style.color]="colors.yellow[300]"
                        style="margin-right: 24px; margin-top: -8px; font-size: 36px"
                    >
                        storefront
                    </mat-icon>
                    The Banano Stand
                </div>
                <div class="mat-subheading-2" style="width: 100%">
                    The Banano Stand is an online wallet used to send or receive Banano.
                </div>
            </div>

            <div style="display: flex; flex-wrap: wrap; justify-content: center">
                <mat-card>
                    <blui-empty-state>
                        <mat-icon blui-empty-icon>lock</mat-icon>
                        <div blui-title>Seed / Mnemonic</div>
                        <div blui-description>
                            Enter your seed or mnemonic phrase to view accounts.
                            <blui-list-item-tag
                                style="
                                    position: absolute;
                                    z-index: 999;
                                    bottom: 55px;
                                    right: 88px;
                                    transform: rotate(45deg);
                                    width: 50px;
                                "
                                [backgroundColor]="colors.gray[500]"
                                label="beta"
                            ></blui-list-item-tag>
                        </div>
                        <button
                            mat-flat-button
                            blui-actions
                            color="primary"
                            [disabled]="isLoading"
                            (click)="openEnterSeedDialog()"
                        >
                            Enter Secret
                        </button>
                    </blui-empty-state>
                </mat-card>

                <mat-card>
                    <blui-empty-state>
                        <mat-icon blui-empty-icon>usb</mat-icon>
                        <div blui-title>Nano Ledger</div>
                        <div blui-description>
                            Load accounts by reading data from a USB-connected
                            <span class="link" (click)="openLedgerHomePage()">Ledger</span>
                            device.
                        </div>
                        <button
                            mat-flat-button
                            blui-actions
                            color="primary"
                            [disabled]="isLoading"
                            (click)="connectLedger()"
                        >
                            Load Accounts
                        </button>
                    </blui-empty-state>
                </mat-card>
            </div>
            <div style="margin-top: 32px; min-width: 584px" *ngIf="ledgerLoadErrorMessage" [@fade]="'active'">
                <mat-divider></mat-divider>
                <div style="color: red; margin-top: 32px"><strong>ERROR:</strong> {{ ledgerLoadErrorMessage }}</div>
                <span style="text-decoration: underline; cursor: pointer" (click)="isShowLedgerLoadHelperText = true">
                    Trouble Connecting?
                </span>
                <div *ngIf="isShowLedgerLoadHelperText" style="margin-top: 32px" [@fade]="'active'">
                    <div style="margin-bottom: 16px">Follow these steps for help connecting your Ledger device:</div>
                    <div><strong>#1</strong>: Connect your Ledger Device via USB.</div>
                    <div>
                        <strong>#2</strong>: Ensure the BANANO app is installed and the version is up-to-date (>v1.2.6).
                    </div>
                    <div>
                        <strong>#3</strong>: Ensure no other wallet software is attempting to access your ledger device.
                    </div>
                    <div><strong>#4</strong>: Open this web page in Chrome or Brave Browser.</div>
                    <div><strong>#5</strong>: Open the BANANO app on your Ledger.</div>
                    <div><strong>#6</strong>: Click the Load Accounts button above.</div>
                </div>
            </div>
            <strong style="visibility: hidden"><!-- Load error font styles --></strong>
        </div>
        <blui-spacer></blui-spacer>

        <div style="display: flex; align-items: center">
            <img src="assets/github-icon.svg" style="margin-right: 8px" />
            <a
                href="https://github.com/dev-ptera/thebananostand"
                target="_blank"
                style="text-align: center; margin: 8px 0px"
                class="link"
                >Github</a
            >
        </div>
    </div>
</div>
