:host {
    width: 100%;
}

$mobileDashboardHeaderHeight: 120px;
::ng-deep .dashboard-header.sm {
    height: $mobileDashboardHeaderHeight;
}

.dashboard-account-list {
    padding: 8px 0;
    overflow: auto;
    max-height: calc(100vh - 334px);

    .hovered img {
        transform: rotate(-5deg);
    }

    .row-title {
        font-weight: 600;
    }

    .mat-divider {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .account-address-container {
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mat-mdc-list-item.mdc-list-item.mat-mdc-list-item-interactive.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
        height: 72px;
        padding: 0.5rem 24px;
        div {
            display: flex;
            align-items: center;
        }
    }

    .account-number {
        position: absolute;
        top: 2px;
        left: 8px;
        font-size: 10px;
        z-index: 3;
    }

    * {
        transition: all 200ms;
    }
    &.sm {
        padding: 0;
        max-height: calc(100vh - (56px + $mobileDashboardHeaderHeight + 1px)); // Don't forget the divider height. 1px
        max-height: calc(var(--app-height) - (56px + $mobileDashboardHeaderHeight + 1px));
    }

    .unopened-account-tag.sm {
        margin: 4px 0;
    }
}
