.send-dialog {
    max-width: 340px;
    height: 350px;
    display: flex;
    flex-direction: column;

    .dialog {
        display: flex;
        justify-content: center;
        flex: 1 1 0px;
        padding-bottom: 16px;
    }
    .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }

    .close-button {
        width: 100px;
        display: flex;
        justify-content: center;
    }
}
