@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin fade {
    $time: 300ms;
    -webkit-animation: fadein $time; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein $time; /* Firefox < 16 */
    -ms-animation: fadein $time; /* Internet Explorer */
    -o-animation: fadein $time; /* Opera < 12.1 */
    animation: fadein $time;
}
