@use '@angular/material' as mat;
@use 'mobile-action-button';
@use 'typography';

@mixin overlay-common() {

    .mat-mdc-dialog-container .mdc-dialog__surface {
        --mdc-dialog-container-shape: 1rem;
    }

    .overlay-action-container {
        display: flex;
        flex-direction: column;
    }
    .overlay-header {
        color: var(--text);
        $class: 'headline-6';
        font-size: mat.font-size(typography.$custom-typography, $class);
        font-weight: mat.font-weight(typography.$custom-typography, $class);
        font-family: mat.font-family(typography.$custom-typography, $class);
        padding-bottom: 24px;
        padding-top: 32px;
    }
    .overlay-body {
        height: 100%;
        overflow: auto;
        mat-form-field {
            width: 100%;
        }
        .address-input {
            width: 100%; height: 140px;
            textarea {
                height: 80px;
                resize: none;
            }
        }
    }
    .overlay-footer {
        padding-top: 16px;
        padding-bottom: 16px;
        border-top: solid 1px var(--divider);
        display: flex;
        justify-content: space-between;
        .mat-mdc-button-base {
            max-width: 130px;
            min-width: 80px;
        }
    }
    .overlay-body, .overlay-header, .overlay-footer {
        $horizontal-padding: 24px;
        padding-left: $horizontal-padding;
        padding-right: $horizontal-padding;
        mat-divider {
            margin-left: -$horizontal-padding;
            margin-right: -$horizontal-padding;
        }
    }

    /* Mobile Overlay Styles */
    .cdk-overlay-container .mat-bottom-sheet-container {
        padding: 0;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        .overlay-action-container {
            width: 100%;
            max-width: unset;
        }
        @include mobile-action-button.mobile-button-styles();
    }
}
