@use '@angular/material' as mat;
@use 'assets/themes/palettes/jungle-green';
@use 'assets/themes/palettes/nano-blue';
@use 'assets/themes/palettes/banano-yellow';
@use 'assets/themes/mixins/overlay';
@use 'assets/themes/mixins/typography';
@use 'assets/themes/mixins/mdc-customization';
@use 'assets/themes/palettes/palette-classes';

// Jungle Theme, base theme
@include mat.core();
@include overlay.overlay-common();
@include mat.all-component-themes(jungle-green.$jungle-green-theme);

html * {
    box-sizing: border-box;
}

.disable-contained-height {
    height: unset !important;
    //  --app-height: unset !important;
}

html,
body {
    margin: 0;
    padding: 0;
}

html,
body,
.app-root {
    height: 100vh;
    height: var(--app-height);
}


.app-root {
    display: flex;
    flex-direction: column;
    --mdc-elevated-card-container-shape: 16px;
}
.app-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    padding: 32px 24px;
    box-sizing: border-box;
    &.sm {
        padding: 0px;
    }

    .app-body-content {
        max-width: 1050px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .app-title {
            margin-bottom: 16px;
            text-align: center;
        }
    }
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

#qr-code {
    width: 110px !important;
    height: 110px !important;
    border-radius: 4px;
    border: 1px solid #cbcbcb78;
}

.loading-button {
    display: flex !important;
    height: 100%;

    justify-content: center;
    align-items: center;
    $duration: 200ms;
    $animationTimingFunction: ease-out;
    .spinner-container {
        height: 36px;
        animation: fadeInAnimation $duration $animationTimingFunction;
        display: none;
        margin: 0 auto;
        &.isLoading {
            display: flex;
            align-items: center;
        }

        .mat-mdc-progress-spinner,
        .mat-mdc-progress-spinner {
            circle {
                stroke: white !important;
            }
        }
    }
}

button.stroked-icon-action-button > .mat-icon {
    margin: 0;
    $font-size: 1.25rem;
    height: $font-size;
    line-height: $font-size;
    width: $font-size;
    font-size: $font-size;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.app-toolbar {
    display: flex;
    padding: 0 24px !important;
    justify-content: space-between;
    height: 64px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    &.sm {
        padding: 0 8px !important;
        height: 40px;
    }
}
