@use 'node_modules/@brightlayer-ui/colors/palette.scss' as blui;
@use 'assets/themes/banano-yellow';
@use 'assets/themes/jungle-green';
@use 'assets/themes/nano-blue';

// Again, why is this required for tooltips?
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html * {
    box-sizing: border-box;
}

.disable-contained-height {
    height: unset !important;
    //  --app-height: unset !important;
}

html,
body {
    margin: 0;
    padding: 0;
}

html,
body,
.app-root {
    height: 100vh;
    height: var(--app-height);
}
.app-root {
    display: flex;
    flex-direction: column;
}

.add-accounts-example {
    font-family: monospace;
    background: #dedede;
}

.blui-empty-state-description {
    font-size: 0.875rem !important;
    line-height: 1.57 !important;
}

.app-toolbar {
    display: flex;
    padding: 0 24px !important;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    min-height: 64px;
    &.sm {
        padding: 0 8px !important;
        min-height: 56px;
    }
}

.blui-user-menu-avatar {
    background-color: unset !important;
}

.app-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    padding: 32px 24px;
    box-sizing: border-box;
    &.sm {
        padding: 0px;
    }

    .app-body-content {
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .app-title {
            margin-bottom: 16px;
            text-align: center;
        }

        mat-divider.mat-divider.blui-info-list-item-partial-divider {
            position: relative;
            bottom: 0;
            right: 0;
            left: 0;
            width: calc(100%);
        }
    }
}

.link {
    color: map-get(blui.$blui-blue, 500);
    text-decoration: underline;
    cursor: pointer;
}

#qr-code {
    width: 110px !important;
    height: 110px !important;
    border-radius: 4px;
    border: 1px solid #cbcbcb78;
}

.mat-dialog-container {
    padding-bottom: 0 !important;
}

.mat-snack-bar-container {
    max-width: unset !important;
}

.blui-mobile-stepper {
    .mat-subheading-2 {
        margin-bottom: 0 !important;
    }
    .mat-button-base {
        width: 80px;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.loading-button {
    display: flex !important;
    height: 36px;

    justify-content: center;
    align-items: center;
    $duration: 200ms;
    $animationTimingFunction: ease-out;
    .button-text-container {
        animation: fadeInAnimation $duration $animationTimingFunction;
        &.isLoading {
            display: none;
        }
    }
    .spinner-container {
        animation: fadeInAnimation $duration $animationTimingFunction;
        display: none;
        margin: 0 auto;
        &.isLoading {
            display: block;
        }

        .mat-progress-spinner,
        .mat-spinner {
            circle {
                stroke: white !important;
            }
        }
    }
}

// BLUI style overrides.
.blui-mobile-stepper-back-button-wrapper button {
    margin-left: 0 !important;
}
.blui-mobile-stepper-next-button-wrapper button {
    margin-right: 0 !important;
}
//HACK
.blui-info-list-item-content .blui-info-list-item-title-wrapper {
    line-height: 1.3 !important;
}

.mat-chip {
    cursor: pointer !important;
}

@mixin dialog-content-fade {
    -webkit-animation: fadein 300ms; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 300ms; /* Firefox < 16 */
    -ms-animation: fadein 300ms; /* Internet Explorer */
    -o-animation: fadein 300ms; /* Opera < 12.1 */
    animation: fadein 300ms;
}

// Mat ripples in buttons are causing issues here; must take time here.
.change-rep-dialog,
.receive-dialog,
.send-dialog {
    .mat-dialog-content div {
        //   @include dialog-content-fade;
        .no-fade {
            //      @include no-fade;
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Theme overrides

@mixin border-radius {
    mat-card,
    mat-nav-list,
    .mat-list-item-ripple,
    mat-list-item,
    mat-list-item-content,
    mat-dialog-container {
        border-radius: 1rem !important;
    }
    .sm {
        mat-card,
        mat-nav-list,
        .mat-list-item-ripple,
        mat-list-item,
        mat-list-item-content,
        mat-dialog-container {
            border-radius: 0rem !important;
        }
    }

    .home-body mat-card {
        border-radius: 1rem !important;
    }
}
@include border-radius();

.mat-dialog-container,
.mat-bottom-sheet-container {
    overflow: hidden !important;
}

.mat-bottom-sheet-container {
    padding: 2rem 2rem 0.5rem 2rem !important;
    border-top-left-radius: 32px !important;
    border-top-right-radius: 32px !important;
    .blui-user-menu-header-content {
        margin-bottom: 1rem !important;
    }
    .mat-dialog-title {
        margin-bottom: 2rem !important;
    }
}

cdk-virtual-scroll-viewport,
cdk-virtual-scroll-content-wrapper {
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
}

button.mat-flat-button,
button.mat-stroked-button {
    border-radius: 0.25rem !important;
}

.blui-list-item-tag-content {
    padding: 0 0.5rem !important;
}
.blui-list-item-tag,
.blui-list-item-tag-content {
    border-radius: 0.875rem !important;
}

.mat-bottom-sheet-container {
    .receive-overlay,
    .send-overlay,
    .filter-overlay,
    .change-rep-overlay {
        .mat-stroked-button,
        .mat-flat-button {
            width: 110px !important;
        }
    }
}
