@import '~@brightlayer-ui/colors/palette.scss';
@import '~@angular/material/_theming.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; // Tooltip needs this theme to work?
@import '~@brightlayer-ui/angular-themes/blui-component-theme';
@import '~@brightlayer-ui/angular-themes/blueTheme';
@import '~@brightlayer-ui/angular-themes/darkTheme';
@import '~@brightlayer-ui/angular-themes/margins';
@import '~@brightlayer-ui/angular-themes/fonts';
@import '~@brightlayer-ui/angular-themes/common';
@import '~@brightlayer-ui/colors/palette';

.jungle-green {
    @import './assets/themes/jungle-green.scss';
    @include angular-material-theme($jungle-green-theme);
    @include blui-components-theme($jungle-green-theme);
    @include bluetheme($jungle-green-theme);
    @include bodyfont();
}

.nano-blue {
    // blui-blue
}
.banano-yellow {
    @import './assets/themes/banano-yellow.scss';
    @include angular-material-theme($banano-yellow);
    @include blui-components-theme($banano-yellow);
    @include darktheme($banano-yellow);
    @include bodyfont();
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

.app-body {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    padding: 32px 64px;
    box-sizing: border-box;

    .app-body-content {
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .app-title {
            margin-bottom: 16px;
            text-align: center;
        }

        mat-divider.mat-divider.blui-info-list-item-partial-divider {
            position: relative;
            bottom: 0;
            right: 0;
            left: 0;
            width: calc(100%);
        }
    }
}

.link {
    color: map-get($blui-blue, 500);
    text-decoration: underline;
    cursor: pointer;
}

#qr-code {
    width: 120px !important;
    height: 120px !important;
    border-radius: 4px;
    border: 1px solid #cbcbcb78;
}

.mat-dialog-container {
    padding-bottom: 0 !important;
}

//HACK
.blui-info-list-item-content .blui-info-list-item-title-wrapper {
    line-height: 1.3 !important;
}

.loading-button {
    display: flex !important;
    height: 36px;
    justify-content: center;
    align-items: center;
    $duration: 200ms;
    $animationTimingFunction: ease-out;
    .button-text-container {
        animation: fadeInAnimation $duration $animationTimingFunction;
        &.isLoading {
            display: none;
        }
    }
    .spinner-container {
        animation: fadeInAnimation $duration $animationTimingFunction;
        display: none;
        margin: 0 auto;
        &.isLoading {
            display: block;
        }

        .mat-progress-spinner,
        .mat-spinner {
            circle {
                stroke: white !important;
            }
        }
    }
}
