.dashboard-clickable-header {
    cursor: pointer;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    padding: 24px 24px;

    background-image: linear-gradient(90deg, var(--primary) 0%, var(--primary-light-2) 100%),
        url('~assets/images/bg-faucet.svg');
    background-size: contain;
    background-position: right center;
    opacity: 1 !important;
    &.sm {
        padding: 16px;
        margin-bottom: 0px;
        flex-direction: column;
        background-size: cover;
        border: unset;
    }
}

.sm .dashboard-wrapper {
    mat-card {
        border-radius: 0;
    }
}
.dashboard-wrapper {
    max-width: 1350px !important;
}

$mobileDashboardHeaderHeight: 180px;
.sm .dashboard-header {
    height: $mobileDashboardHeaderHeight;
    border-bottom-width: 2px;
}

.dashboard-accounts-container {
    overflow: hidden; // Progress Bar hide corners
}

.dashboard-accounts-container.sm {
    border: unset !important;
}
