:host {
    width: 100%;
}

::ng-deep {
    .mat-list-item-disabled {
        opacity: 1 !important;
        pointer-events: auto !important;
        .mat-list-item-content > * {
            &:not(.mat-list-icon) {
                opacity: 0.5 !important;
                pointer-events: none !important;
            }
        }
    }
}

::ng-deep .blui-info-list-item-icon-wrapper {
    margin-right: 8px !important;
}
