<div
    style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        height: 40px;
        margin-top: 24px;
    "
>
    <div style="padding-left: 4px">
        <button mat-mini-fab color="primary" (click)="addAccount()" [disabled]="loadingAccount">
            <mat-icon>add</mat-icon>
        </button>
        <button
            *ngIf="isAdvancedView"
            mat-mini-fab
            color="primary"
            style="margin-left: 16px"
            (click)="addAccountFromIndex()"
            [disabled]="loadingAccount"
        >
            <mat-icon>manage_search</mat-icon>
        </button>
        <button
            *ngIf="isAdvancedView"
            mat-mini-fab
            color="primary"
            style="margin-left: 16px"
            (click)="refresh()"
            [disabled]="loadingAllAccounts"
        >
            <mat-icon>refresh</mat-icon>
        </button>
        <button
            *ngIf="isAdvancedView"
            mat-mini-fab
            color="warn"
            style="margin-left: 16px"
            (click)="hideSelected()"
            [disabled]="selectedItems.size === 0"
        >
            <mat-icon>delete</mat-icon>
        </button>
    </div>

    <mat-slide-toggle color="primary" [(ngModel)]="isAdvancedView" (change)="exitEdit($event)">
        Advanced
    </mat-slide-toggle>
</div>
<mat-card
    style="padding: 0; display: flex; flex-direction: column"
    [style.marginLeft.px]="vp.sm ? -16 : 0"
    [style.marginRight.px]="vp.sm ? -16 : 0"
>
    <div style="margin-left: 16px; padding: 16px 0">
        <mat-checkbox
            color="warn"
            *ngIf="isAdvancedView"
            [disabled]="getAccounts().length === 0"
            style="margin-right: 32px"
            (change)="toggleAll($event)"
            [indeterminate]="selectedItems.size < getAccounts().length && selectedItems.size > 0"
            [checked]="selectedItems.size === getAccounts().length && selectedItems.size > 0"
        >
        </mat-checkbox>
        <span class="mat-subheading-1" style="margin-right: 8px">Accounts Balance: </span>{{ getBalance() }}
    </div>
    <mat-divider style="position: relative"></mat-divider>

    <blui-empty-state
        *ngIf="getAccounts().length === 0 && !loadingAllAccounts"
        style="margin: 64px 0 48px 0"
        title="No Accounts Displayed"
        description="Connect your Ledger device and use the buttons above to add an account."
    >
        <mat-icon blui-empty-icon>search</mat-icon>
    </blui-empty-state>

    <mat-nav-list
        style="max-height: 62vh; overflow: auto; padding-top: 0"
        *ngIf="getAccounts().length > 0"
        [class.fade]="fade"
        [disableRipple]="disableRipple"
    >
        <blui-info-list-item
            *ngFor="let account of getAccounts()"
            divider="partial"
            [hidePadding]="true"
            (click)="openAccount(account.fullAddress)"
        >
            <mat-checkbox
                *ngIf="isAdvancedView"
                blui-icon
                color="warn"
                style="margin-bottom: 6px"
                (click)="$event.stopPropagation()"
                (mouseenter)="disableRipple = true"
                (mouseleave)="disableRipple = false"
                [checked]="selectedItems.has(account.index)"
                (change)="toggleCheck($event, account)"
            >
            </mat-checkbox>
            <div blui-left-content [style.minWidth.px]="vp.sm ? 50 : 120">
                <blui-list-item-tag
                    [label]="
                        (account.index > 100000 || vp.sm ? '#' : 'Account #') + _util.numberWithCommas(account.index)
                    "
                ></blui-list-item-tag>
            </div>
            <div blui-title>{{ account.shortAddress }}</div>
            <div blui-subtitle>
                <ng-container *ngIf="account.representative">
                    represented by {{ formatRepresentative(account.representative) }}
                </ng-container>
                <ng-container *ngIf="!account.representative"> unopened account </ng-container>
            </div>
            <div blui-right-content>
                <blui-list-item-tag
                    *ngIf="account.pending.length > 0"
                    label="Has Receivable"
                    class="receivable-tag"
                    style="margin-right: 16px"
                    [backgroundColor]="colors.orange[500]"
                >
                </blui-list-item-tag>
                <blui-list-item-tag
                    *ngIf="showRepresentativeOffline(account.representative)"
                    label="Rep Offline"
                    class="rep-offline-tag"
                    [backgroundColor]="colors.red[500]"
                    style="margin-right: 16px"
                ></blui-list-item-tag>

                <blui-list-item-tag
                    *ngIf="!account.representative"
                    label="Unopened Account"
                    class="unopened-account-tag"
                    [fontColor]="colors.black[500]"
                    [backgroundColor]="colors.gray[100]"
                >
                </blui-list-item-tag>

                <ng-container *ngIf="account.representative">
                    {{ account.formattedBalance }}
                </ng-container>
            </div>
        </blui-info-list-item>
    </mat-nav-list>
</mat-card>
