.clickable-header {
    cursor: pointer;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    padding: 16px 24px;
    &.sm {
        padding-top: 16px;
        padding-bottom: 16px;
        margin-bottom: 0px;
    }
}

$mobileDashboardHeaderHeight: 96px;
.sm .dashboard-header {
    height: $mobileDashboardHeaderHeight;
}

.dashboard-account-list {
    max-height: calc(100vh - 344px);
    &.sm {
        padding: 0;
        border: unset;
        max-height: calc(100vh - (56px + $mobileDashboardHeaderHeight + 1px)); // Don't forget the divider height. 1px
        max-height: calc(var(--app-height) - (56px + $mobileDashboardHeaderHeight + 1px));
    }
}

.dashboard-accounts-container.sm {
    border: unset;
}
