<!-- Statuses that are shown beneath an address.  Includes "Rep Offline" & "Has Receivable" information. -->
<ng-template #statusBadges let-account="account">
    <blui-list-item-tag
        *ngIf="account.pending.length > 0"
        [label]="vp.sm ? 'Receivable' : 'Has Receivable'"
        class="receivable-tag"
        style="margin-right: 16px"
        [backgroundColor]="colors.orange[500]"
    >
    </blui-list-item-tag>
    <blui-list-item-tag
        *ngIf="showRepresentativeOffline(account.representative)"
        label="Rep Offline"
        class="rep-offline-tag"
        [backgroundColor]="colors.red[500]"
        style="margin-right: 16px"
    ></blui-list-item-tag>
</ng-template>

<!-- Indicates an account has not yet received any transactions -->
<ng-template #unopenedTag>
    <blui-list-item-tag
        responsive
        label="Unopened Account"
        class="unopened-account-tag"
        [fontColor]="colors.black[500]"
        [backgroundColor]="colors.gray[100]"
    >
    </blui-list-item-tag>
</ng-template>

<!-- Is shown whenever a seed is loaded, but no individual addresses are shown yet. -->
<ng-template #noAccountsLoaded>
    <blui-empty-state
        *ngIf="getAccounts().length === 0 && !loadingAccount"
        style="margin: 64px 0 48px 0"
        title="No Accounts Displayed"
        description="Use the buttons above to add an account."
    >
        <mat-icon blui-empty-icon>search</mat-icon>
    </blui-empty-state>
</ng-template>

<!-- Actions to manage active wallet's accounts on desktop view -->
<ng-template #desktopAccountActions>
    <button
        mat-icon-button
        matTooltip="Refresh balances"
        (click)="refresh()"
        data-cy="refresh-dashboard-desktop-button"
    >
        <mat-icon blui-icon>refresh</mat-icon>
    </button>
    <button
        mat-icon-button
        matTooltip="Add next account"
        (click)="addAccount()"
        data-cy="add-single-account-desktop-button"
    >
        <mat-icon>add</mat-icon>
    </button>
    <button
        mat-icon-button
        matTooltip="Add specific account"
        (click)="addAccountFromIndex()"
        data-cy="add-specific-account-desktop-button"
    >
        <mat-icon>manage_search</mat-icon>
    </button>
    <button
        *ngIf="selectedItems.size === 0"
        mat-icon-button
        matTooltip="Toggle edit accounts"
        data-cy="edit-account-dashboard-desktop-button"
        (click)="isAdvancedView = !isAdvancedView"
    >
        <mat-icon blui-icon>{{ isAdvancedView ? 'edit_off' : 'edit' }}</mat-icon>
    </button>
    <button
        *ngIf="selectedItems.size !== 0"
        mat-icon-button
        matTooltip="Hide selected accounts"
        color="warn"
        data-cy="remove-account-dashboard-desktop-button"
        (click)="hideSelected()"
    >
        <mat-icon blui-icon>delete</mat-icon>
    </button>
</ng-template>

<!-- Actions to manage active wallet's accounts on mobile view -->
<ng-template #mobileAccountActions>
    <blui-user-menu
        style="margin-right: -12px"
        menuTitle="Account Actions"
        [(open)]="walletActionsUserMenuOpen"
        [matTooltip]="vp.sm ? '' : 'More actions'"
    >
        <mat-icon data-cy="show-dashboard-actions" blui-avatar>more_vert</mat-icon>
        <mat-nav-list blui-menu-body [style.paddingTop.px]="0">
            <blui-info-list-item
                *ngIf="vp.sm"
                [dense]="true"
                (click)="addAccount(); walletActionsUserMenuOpen = false"
                data-cy="add-next-account-mobile-button"
            >
                <mat-icon blui-icon>add</mat-icon>
                <div blui-title>Add Account</div>
            </blui-info-list-item>
            <blui-info-list-item
                [dense]="true"
                (click)="addAccountFromIndex(); walletActionsUserMenuOpen = false"
                data-cy="add-specific-account-mobile-button"
            >
                <mat-icon blui-icon>manage_search</mat-icon>
                <div blui-title>Add Specific Account</div>
            </blui-info-list-item>
            <blui-info-list-item
                [dense]="true"
                (click)="refresh(); walletActionsUserMenuOpen = false"
                data-cy="refresh-dashboard-mobile-button"
            >
                <mat-icon blui-icon>refresh</mat-icon>
                <div blui-title>Refresh Balances</div>
            </blui-info-list-item>
            <blui-info-list-item
                [dense]="true"
                (click)="isAdvancedView = !isAdvancedView; walletActionsUserMenuOpen = false; selectedItems.clear()"
                data-cy="select-accounts-mobile-button"
            >
                <mat-icon blui-icon>visibility</mat-icon>
                <div blui-title>Toggle Hide Accounts</div>
            </blui-info-list-item>
            <blui-info-list-item
                *ngIf="selectedItems.size > 0"
                [dense]="true"
                (click)="hideSelected(); walletActionsUserMenuOpen = false"
                data-cy="remove-account-mobile-button"
            >
                <mat-icon blui-icon>delete</mat-icon>
                <div blui-title>Hide Selected Accounts</div>
            </blui-info-list-item>
        </mat-nav-list>
    </blui-user-menu>
</ng-template>

<ng-template #switchWalletActions>
    <blui-user-menu
        *ngIf="hasAlternativeWallets()"
        [(open)]="switchWalletUserMenuOpen"
        class="switch-wallet-user-menu"
        menuTitle="Switch Wallet"
    >
        <mat-icon blui-avatar>arrow_drop_down</mat-icon>
        <mat-nav-list blui-menu-body [style.paddingTop.px]="0">
            <div style="max-height: 180px; overflow: auto">
                <ng-container *ngFor="let wallet of getWallets()">
                    <blui-info-list-item
                        *ngIf="getActiveWallet().walletId !== wallet.walletId"
                        [dense]="true"
                        [hidePadding]="true"
                        (click)="changeActiveWallet(wallet); switchWalletUserMenuOpen = false"
                    >
                        <div blui-title>{{ wallet.name }}</div>
                    </blui-info-list-item>
                </ng-container>
            </div>
        </mat-nav-list>
    </blui-user-menu>
</ng-template>

<ng-template #manageWallet>
    <blui-user-menu
        *ngIf="!isLedgerDevice()"
        [(open)]="manageWalletUserMenuOpen"
        [menuTitle]="vp.sm ? 'Manage Wallet' : ''"
        data-cy="wallet-actions-menu"
    >
        <mat-icon blui-avatar style="margin-left: 8px" matTooltip="Manage Wallets" matTooltipPosition="below">
            edit_note
        </mat-icon>
        <mat-nav-list blui-menu-body [style.paddingTop.px]="0">
            <blui-info-list-item [dense]="true" (click)="openEnterSeedOverlay(); manageWalletUserMenuOpen = false">
                <mat-icon blui-icon>add_circle</mat-icon>
                <div blui-title>Add Wallet</div>
            </blui-info-list-item>
            <blui-info-list-item [dense]="true" (click)="openRenameWalletOverlay(); manageWalletUserMenuOpen = false">
                <mat-icon blui-icon>edit</mat-icon>
                <div blui-title>Rename Wallet</div>
            </blui-info-list-item>
            <blui-info-list-item
                [dense]="true"
                (click)="copyWalletSeed(); manageWalletUserMenuOpen = false"
                data-cy="copy-seed-button"
            >
                <mat-icon blui-icon>lock</mat-icon>
                <div blui-title>Copy Seed</div>
            </blui-info-list-item>
            <blui-info-list-item
                [dense]="true"
                (click)="copyWalletMnemonic(); manageWalletUserMenuOpen = false"
                data-cy="copy-mnemonic-button"
            >
                <mat-icon blui-icon>lock</mat-icon>
                <div blui-title>Copy Mnemonic</div>
            </blui-info-list-item>
            <blui-info-list-item
                data-cy="remove-wallet-button"
                longPress
                [dense]="true"
                (mouseLongPress)="removeWallet(); manageWalletUserMenuOpen = false"
                class="warn"
            >
                <mat-icon blui-icon>delete</mat-icon>
                <div blui-title>Remove Wallet</div>
                <div blui-info>(Long Press)</div>
            </blui-info-list-item>
        </mat-nav-list>
    </blui-user-menu>
</ng-template>

<ng-template #dashboardHeader>
    <div
        style="padding: 16px 24px 16px 24px; display: flex; justify-content: space-between; align-items: center"
        class="dashboard-header"
    >
        <div style="width: 100%; display: flex; align-items: center">
            <mat-checkbox
                color="warn"
                *ngIf="isAdvancedView"
                [disabled]="getAccounts().length === 0"
                style="margin-right: 32px; margin-left: -8px"
                (change)="toggleAll($event)"
                [indeterminate]="selectedItems.size < getAccounts().length && selectedItems.size > 0"
                [checked]="selectedItems.size === getAccounts().length && selectedItems.size > 0"
            >
            </mat-checkbox>
            <div>
                <!-- Wallet Name & Selector -->
                <div style="display: flex; align-items: center; margin-bottom: 4px; width: 100%">
                    <div
                        style="display: flex"
                        [matTooltip]="hasAlternativeWallets() ? 'Change Wallet' : undefined"
                        matTooltipPosition="right"
                        [class.clickable-header]="hasAlternativeWallets()"
                    >
                        <div
                            class="blui-headline-6 primary"
                            style="margin: 0 8px 0 0"
                            (click)="switchWalletUserMenuOpen = true"
                        >
                            {{ getActiveWallet()?.name }}
                        </div>
                        <ng-template [ngTemplateOutlet]="switchWalletActions" style="margin-right: 4px"></ng-template>
                    </div>
                </div>
                <!-- Account Balance -->
                <div>
                    <span class="mat-subheading-1" style="margin-right: 8px"> Accounts Balance: </span>
                    <span> {{ getBalance() }}</span>
                    <ng-container *ngIf="!vp.sm"> BAN</ng-container>
                </div>
            </div>
        </div>

        <ng-template [ngTemplateOutlet]="manageWallet" style="margin-right: 8px"></ng-template>
        <ng-template *ngIf="vp.sm; else desktopAccountActions" [ngTemplateOutlet]="mobileAccountActions"></ng-template>
    </div>
</ng-template>

<ng-template #accounts>
    <blui-info-list-item
        *ngFor="let account of getAccounts(); let i = index; let even = even"
        (mouseenter)="hoverRowNumber = i"
        (mouseleave)="hoverRowNumber = undefined"
        [class.hovered]="hoverRowNumber === i"
        [divider]="i === getAccounts().length - 1 ? undefined : 'partial'"
        [style.backgroundColor]="getItemBackgroundColor(even)"
        (click)="openAccount(account.fullAddress)"
    >
        <div blui-left-content style="display: flex; align-items: center">
            <mat-checkbox
                *ngIf="isAdvancedView"
                color="warn"
                style="margin-bottom: 6px; margin-right: 16px"
                (click)="$event.stopPropagation()"
                [checked]="selectedItems.has(account.index)"
                (change)="toggleCheck($event, account)"
            >
            </mat-checkbox>
            <img [src]="getMonkeyUrl(account.fullAddress)" loading="lazy" [height]="72" />
            <div class="account-number mat-hint" [class.primary]="hoverRowNumber === i">
                #{{ _util.numberWithCommas(account.index) }}
            </div>
        </div>
        <div
            blui-title
            class="mono"
            [class.primary]="hoverRowNumber === i"
            style="padding: 1px 0; z-index: 2"
            [style.fontSize.px]="vp.sm ? 15 : 'inherit'"
        >
            {{ account.shortAddress }}
        </div>
        <div blui-subtitle style="padding: 1px 0; display: flex; align-items: center">
            <ng-container *ngIf="!vp.sm && account.representative">
                represented by {{ formatRepresentative(account.representative) }}
            </ng-container>

            <ng-container *ngIf="vp.sm">
                <ng-container *ngIf="account.representative; else unopenedTag">
                    <span> {{ account.formattedBalance }} BAN </span>
                </ng-container>
            </ng-container>
        </div>
        <div blui-info *ngIf="vp.sm" style="margin-top: 4px">
            <div style="display: flex">
                <div>
                    <ng-template *ngTemplateOutlet="statusBadges; context: { account: this.account }"></ng-template>
                </div>
            </div>
        </div>
        <div blui-right-content *ngIf="!vp.sm">
            <ng-template *ngTemplateOutlet="statusBadges; context: { account: this.account }"></ng-template>
            <ng-container *ngIf="account.representative; else unopenedTag">
                <!--
                <img
                    *ngIf="!vp.sm"
                    style="margin-left: 16px; margin-right: 8px"
                    src="assets/banano-mark.svg"
                    [width]="18"
                    [height]="18"
                /> -->
                <span> {{ account.formattedBalance }} BAN </span>
            </ng-container>
        </div>
    </blui-info-list-item>
</ng-template>

<!-- Page Layout -->
<mat-card
    style="padding: 0; display: flex; flex-direction: column; overflow: hidden"
    [style.marginTop.px]="vp.sm ? 0 : 16"
>
    <ng-template [ngTemplateOutlet]="dashboardHeader"></ng-template>
    <mat-divider style="position: relative"></mat-divider>
    <mat-progress-bar *ngIf="loadingAccount" color="primary" mode="indeterminate" style="position: absolute">
    </mat-progress-bar>
    <ng-template [ngTemplateOutlet]="noAccountsLoaded"></ng-template>
    <mat-nav-list
        responsive
        *ngIf="getAccounts().length > 0"
        data-cy="dashboard-account-list"
        class="dashboard-account-list fade"
        style="
            overflow: auto;
            padding-top: 0;
            border-top-right-radius: 0 !important;
            border-top-left-radius: 0 !important;
        "
    >
        <ng-template [ngTemplateOutlet]="accounts"></ng-template>
    </mat-nav-list>
</mat-card>
