<!-- Displays wallet name & gives an option to change wallets. -->
<ng-template #walletNameDropdown>
    <div style="display: flex; align-items: center; width: 100%">
        <div style="display: flex; align-items: center" [class.clickable-header]="hasAlternativeWallets()">
            <ng-template #switchWalletNameTrigger>
                <div style="display: flex; align-items: center">
                    <div
                        style="font-weight: 600"
                        responsive-trigger
                        class="primary"
                        [class.mat-headline-5]="!vp.sm"
                        [class.mat-headline-6]="vp.sm"
                    >
                        {{ store.activeWallet.name }}
                    </div>
                    <mat-icon *ngIf="isShowMultiWalletSelect()" style="margin-left: 4px">arrow_drop_down</mat-icon>
                </div>
            </ng-template>
            <ng-template #switchWalletsMenu>
                <ng-container *ngFor="let wallet of store.localStorageWallets">
                    <button
                        mat-menu-item
                        *ngIf="store.activeWallet.walletId !== wallet.walletId"
                        (click)="changeActiveWallet(wallet)"
                    >
                        {{ wallet.name }}
                    </button>
                </ng-container>
            </ng-template>
            <responsive-menu
                menuTitle="Switch Wallet"
                [(open)]="switchWalletOverlayOpen"
                [menu]="switchWalletsMenu"
                [disabled]="store.localStorageWallets.length === 1"
                [desktopTrigger]="switchWalletNameTrigger"
                [mobileTrigger]="switchWalletNameTrigger"
            >
            </responsive-menu>
        </div>
    </div>
</ng-template>

<!-- Is shown whenever a seed is loaded, but no individual addresses are shown yet. -->
<ng-template #noAccountsEmptyState>
    <app-empty-state
        *ngIf="store.accounts.length === 0 && !store.isLoadingAccounts"
        style="margin: 64px 0 48px 0"
        title="No Accounts Displayed"
        description="Use the buttons above to add an account."
    >
        <mat-icon blui-empty-icon>search</mat-icon>
    </app-empty-state>
</ng-template>

<!-- Wallet-level actions -->
<ng-template #walletActions>
    <ng-template #walletActionsMenu>
        <div class="mat-overline category-separator">Actions</div>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="openEnterSeedOverlay()">
            <mat-icon>add_circle_outline</mat-icon>
            Import
        </button>
        <button mat-menu-item (click)="openRenameWalletOverlay()">
            <mat-icon>drive_file_rename_outline</mat-icon>
            Rename
        </button>
        <button mat-menu-item longPress (mouseLongPress)="removeWallet()" data-cy="remove-wallet-button">
            <div style="display: flex; align-items: center">
                <mat-icon color="warn">clear</mat-icon>
                <div style="display: flex; flex-direction: column; padding-left: 4px">
                    <div style="height: 20px; line-height: 20px">Remove</div>
                    <div style="height: 20px; line-height: 20px; font-size: 12px">(Long Press)</div>
                </div>
            </div>
        </button>
        <div class="mat-overline category-separator" style="margin-top: 24px">Backup</div>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="copyWalletSeed()" data-cy="copy-seed-button">
            <mat-icon>content_copy</mat-icon>
            Copy Seed
        </button>
        <button mat-menu-item (click)="copyWalletMnemonic()" data-cy="copy-mnemonic-button">
            <mat-icon>content_copy</mat-icon>
            Copy Mnemonic
        </button>
    </ng-template>
    <ng-template #walletActionsDesktopTrigger>
        <button mat-stroked-button data-cy="wallet-actions-desktop-menu">
            <div class="mat-subtitle-2" style="white-space: nowrap">Manage Wallet</div>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
    </ng-template>
    <ng-template #walletActionsMobileTrigger>
        <mat-icon data-cy="wallet-actions-mobile-menu"> account_balance_wallet </mat-icon>
    </ng-template>
    <responsive-menu
        menuTitle="Wallet Actions"
        [(open)]="walletActionsOverlayOpen"
        [menu]="walletActionsMenu"
        [desktopTrigger]="walletActionsDesktopTrigger"
        [mobileTrigger]="walletActionsMobileTrigger"
    >
    </responsive-menu>
</ng-template>

<!-- Account-level actions -->
<ng-template #accountActions>
    <ng-template #accountActionsMenu>
        <button mat-menu-item (click)="refreshDashboard()" data-cy="refresh-dashboard-button">
            <mat-icon>refresh</mat-icon>Refresh Dashboard
        </button>
        <button mat-menu-item (click)="addAccount()" data-cy="add-next-account-button">
            <mat-icon>add_circle_outline</mat-icon>Add Next Account
        </button>
        <button mat-menu-item (click)="addAccountFromIndex()" data-cy="add-specific-account-button">
            <mat-icon>pin</mat-icon>Add Specific Account
        </button>
    </ng-template>
    <ng-template #accountActionsDesktopTrigger>
        <button mat-stroked-button data-cy="account-actions-desktop-menu" style="min-width: 115px">
            <span>Account</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
    </ng-template>
    <ng-template #accountActionsMobileTrigger>
        <mat-icon data-cy="account-actions-mobile-menu">account_circle</mat-icon>
    </ng-template>
    <responsive-menu
        menuTitle="Account Actions"
        style="margin-left: 8px; margin-right: -16px"
        [(open)]="accountActionsOverlayOpen"
        [menu]="accountActionsMenu"
        [desktopTrigger]="accountActionsDesktopTrigger"
        [mobileTrigger]="accountActionsMobileTrigger"
    >
    </responsive-menu>
</ng-template>

<ng-template #dashboardHeader>
    <mat-card appearance="outlined" class="dashboard-header" responsive [class.mat-elevation-z8]="vp.sm">
        <div style="width: 100%; display: flex; align-items: center">
            <div>
                <!-- Wallet Name & Selector -->
                <ng-template [ngTemplateOutlet]="walletNameDropdown"></ng-template>
                <!-- Account Balance -->
                <div style="display: flex; align-items: center">
                    <div *ngIf="!vp.sm" class="mat-body-1" style="margin-right: 8px; font-weight: 600">
                        Accounts Balance:
                    </div>
                    <div class="mat-body-1">{{ totalBalance }} BAN</div>
                </div>
            </div>
        </div>
        <ng-template [ngTemplateOutlet]="walletActions" *ngIf="!isLedgerDevice()"></ng-template>
        <ng-template [ngTemplateOutlet]="accountActions" *ngIf="vp.sm"></ng-template>
    </mat-card>
</ng-template>

<!-- Page Layout -->
<div class="app-body" responsive>
    <div class="app-body-content">
        <div
            style="padding: 0; display: flex; flex-direction: column; width: 100%"
            [style.marginTop.px]="vp.sm ? 0 : 16"
        >
            <ng-template [ngTemplateOutlet]="dashboardHeader"></ng-template>

            <mat-card appearance="outlined" class="dashboard-accounts-container" responsive>
                <mat-progress-bar
                    *ngIf="store.isLoadingAccounts"
                    color="primary"
                    mode="indeterminate"
                    style="left: 0"
                    [style.position]="vp.sm ? 'fixed' : 'absolute'"
                    [style.top.px]="vp.sm ? 56 : 0"
                >
                </mat-progress-bar>
                <div
                    *ngIf="!vp.sm"
                    style="display: flex; justify-content: space-between; align-items: center; padding: 16px 24px"
                >
                    <div style="display: flex; align-items: center">
                        <div class="mat-headline-5" style="margin-bottom: 0">Accounts</div>
                    </div>
                    <div style="display: flex; align-items: center">
                        <button
                            mat-stroked-button
                            class="stroked-icon-action-button"
                            matTooltip="Refresh account balances"
                            style="margin-right: 16px"
                            [disabled]="store.isLoadingAccounts"
                            (click)="refreshDashboard()"
                            data-cy="refresh-dashboard-button"
                        >
                            <mat-icon>refresh</mat-icon>
                        </button>
                        <button
                            mat-stroked-button
                            class="stroked-icon-action-button"
                            matTooltip="Add next account"
                            style="margin-right: 16px"
                            (click)="addAccount()"
                            data-cy="add-next-account-button"
                        >
                            <mat-icon>add</mat-icon>
                        </button>
                        <button
                            mat-stroked-button
                            class="stroked-icon-action-button"
                            matTooltip="Add specific account"
                            style="margin-right: 16px"
                            (click)="addAccountFromIndex()"
                            data-cy="add-specific-account-button"
                        >
                            <mat-icon>search</mat-icon>
                        </button>
                        <button
                            mat-stroked-button
                            class="stroked-icon-action-button"
                            matTooltip="Sort by balance"
                            (click)="sortAccountsByBalance()"
                        >
                            <mat-icon *ngIf="sortDirection === 'none'">swap_vert</mat-icon>
                            <mat-icon *ngIf="sortDirection === 'asc'">arrow_upward</mat-icon>
                            <mat-icon *ngIf="sortDirection === 'desc'">arrow_downward</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <ng-template [ngTemplateOutlet]="noAccountsEmptyState"></ng-template>
                <app-account-list [accounts]="store.accounts" [sortDirection]="sortDirection"></app-account-list>
            </mat-card>
        </div>
    </div>
</div>
