.change-rep-dialog {
    max-width: 340px;
    width: 340px;
    height: 416px;
    display: flex;
    flex-direction: column;
    .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }

    .close-button {
        width: 100px;
        display: flex;
        justify-content: center;
    }
}
