:host {
    display: flex;
}
::ng-deep .app-add-index-bottom-sheet .add-index-overlay {
    max-width: unset !important;
    width: 100% !important;
    height: 450px !important;
    .mat-dialog-actions {
        padding-top: 16px !important;
        padding-bottom: 8px !important;
    }
}
