@mixin fade {
    -webkit-animation: fadein 250ms; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 250ms; /* Firefox < 16 */
    -ms-animation: fadein 250ms; /* Internet Explorer */
    -o-animation: fadein 250ms; /* Opera < 12.1 */
    animation: fadein 250ms;
}
