@use 'node_modules/@brightlayer-ui/colors/palette' as blui;
@use 'node_modules/@angular/material' as mat;

@use 'node_modules/@brightlayer-ui/angular-themes/blui-component-theme';
@use 'node_modules/@brightlayer-ui/angular-themes/blueTheme';
@use 'node_modules/@brightlayer-ui/angular-themes/margins';
@use 'node_modules/@brightlayer-ui/angular-themes/fonts';
@use 'node_modules/@brightlayer-ui/angular-themes/typography';
@use 'node_modules/@brightlayer-ui/angular-themes/common';

/* For use in src/lib/core/theming/_palette.scss */
$greenPalette: (
    50: #e5f1e6,
    100: #bdddc0,
    200: #92c696,
    300: #66af6c,
    400: #459e4d,
    500: #248d2d,
    600: #208528,
    700: #1b7a22,
    800: #16701c,
    900: #0d5d11,
    A100: #92ff95,
    A200: #5fff64,
    A400: #2cff32,
    A700: #13ff19,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$material-theme-primary: mat.define-palette($greenPalette, 700);
$material-theme-accent: mat.define-palette(blui.$blui-green, 900);
$material-theme-warn: mat.define-palette(blui.$blui-red, 500);
$jungle-green-theme: map-merge(
    mat.define-light-theme($material-theme-primary, $material-theme-accent, $material-theme-warn),
    (
        foreground: (
            text: map-get(blui.$blui-black, 500),
            secondary-text: map-get(blui.$blui-gray, 500),
            hint-text: map-get(blui.$blui-black, 400),
            base: map-get(blui.$blui-darkBlack, 900),
            divider: rgba(66, 78, 84, 0.12),
            dividers: mat.get-color-from-palette(mat.$light-theme-foreground-palette, dividers),
            disabled: rgba(66, 78, 84, 0.3),
            disabled-button: rgba(black, 0.26),
            disabled-text: rgba(66, 78, 84, 0.3),
            elevation: map-get(blui.$blui-darkBlack, 900),
            icon: rgba(black, 0.54),
            icons: rgba(black, 0.54),
            slider-min: rgba(black, 0.87),
            slider-off: rgba(black, 0.26),
            slider-off-active: rgba(black, 0.38),
        ),
        background: (
            status-bar: mat.get-color-from-palette(mat.$light-theme-background-palette, status-bar),
            app-bar: map-get(blui.$blui-gray, 50),
            background: map-get(blui.$blui-white, 200),
            hover: rgba(black, 0.04),
            card: map-get(blui.$blui-white, 50),
            dialog: map-get(blui.$blui-white, 50),
            disabled-button: rgba(114, 126, 132, 0.12),
            raised-button: map-get(blui.$blui-white, 50),
            focused-button: mat.get-color-from-palette(mat.$light-theme-background-palette, focused-button),
            selected-button: map-get(blui.$blui-gray, 300),
            selected-disabled-button: map-get(blui.$blui-gray, 400),
            disabled-button-toggle: map-get(blui.$blui-gray, 200),
            unselected-chip: map-get(blui.$blui-gray, 300),
            disabled-list-option: map-get(blui.$blui-gray, 200),
        ),
    )
);

.jungle-green {
    @include mat.all-component-themes($jungle-green-theme);
    @include blui-component-theme.blui-components-theme($jungle-green-theme);
    @include blueTheme.bluetheme($jungle-green-theme);
    @include fonts.bodyfont();
    @include typography.typography();
    @include common.common();
    $primary: mat.get-color-from-palette($material-theme-primary, 500);
    .primary {
        color: $primary;
    }
    .non-special-address-chars {
        color: #b5b5b5;
    }
    .app-toolbar .blui-user-menu-avatar {
        color: map-get(blui.$blui-white, 500) !important;
    }
    .account-mobile-footer {
        background-color: map-get(blui.$blui-white, 50);
    }
}
