@use '@angular/material' as mat;


// Custom Typography Sizes & Weights
$custom-typography: mat.define-typography-config(
    $font-family: 'myFirstFont, "Open Sans", Arial, Helvetica, sans-serif;',
    $display-4: mat.define-typography-level(6rem, 1.167, 300),
    $display-2: mat.define-typography-level(3rem, 1.167, 400),
    $display-1: mat.define-typography-level(2.125rem, 1.235, 400),
    $headline: mat.define-typography-level(1.5rem, 1.334, 400),
    $title: mat.define-typography-level(1.25rem, 1.6, 600),
    $subheading-2: mat.define-typography-level(1rem, 1.75, 400),
    $subheading-1: mat.define-typography-level(0.875rem, 1.57, 600),
    $body-2: mat.define-typography-level(0.875rem, 1.43, 500),
    $body-1: mat.define-typography-level(1rem, 1.5, 400),
    $caption: mat.define-typography-level(0.75rem, 1.66, 400),
    $button: mat.define-typography-level(0.875rem, 1, 600),
    $input: mat.define-typography-level(inherit, 1.125, 400),
);
@include mat.core($custom-typography);

@font-face {
    font-family: myFirstFont;
    src: url(~assets/fonts/space-grotesk/SpaceGrotesk-Regular.ttf);
}
@font-face {
    font-family: myFirstFont;
    src: url(~assets/fonts/space-grotesk/SpaceGrotesk-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: sourceCodePro;
    src: url(~assets/fonts/source-code-pro/SourceCodePro-Regular.otf);
}

.mono {
    font-family: sourceCodePro, monospace;
}
