@use '@angular/material' as mat;


@font-face {
    font-family: spaceGrotesk;
    src: url(~assets/fonts/space-grotesk/SpaceGrotesk-Regular.ttf);
}
@font-face {
    font-family: spaceGrotesk;
    src: url(~assets/fonts/space-grotesk/SpaceGrotesk-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: sourceCodePro;
    src: url(~assets/fonts/source-code-pro/SourceCodePro-Regular.otf);
}

// Custom Typography Sizes & Weights
$custom-typography: mat.define-typography-config();

* {
    font-family:  spaceGrotesk, "Open Sans", Arial, Helvetica, sans-serif;
}

.mono,
input::placeholder,
.mat-input-element {
    font-family: sourceCodePro, monospace !important;
    * {
        font-family: sourceCodePro, monospace !important;
    }
}
