<div class="app-root app-sign-message-page" responsive>
    <mat-toolbar color="primary" class="app-toolbar" responsive [class.mat-elevation-z2]="!vp.sm">
        <div style="display: flex; align-items: center">
            <button mat-icon-button (click)="back()">
                <mat-icon style="color: var(--text-contrast)">close</mat-icon>
            </button>
            <span style="margin-left: 12px; color: var(--text-contrast)">Sign Message</span>
        </div>
    </mat-toolbar>

    <div class="app-body" responsive>
        <div class="app-body-content">
            <!--Message signing-->
            <mat-card
                appearance="outlined"
                style="margin: 16px 0; padding: 0; width: 100%"
                [style.borderRadius.px]="vp.sm ? 0 : 16"
            >
                <div style="padding: 24px 24px; display: flex; justify-content: space-between; align-items: center">
                    <div class="mat-headline-6">Sign message</div>
                </div>
                <div style="padding: 0px 24px 24px 24px">
                    <div *ngIf="store.hasSecret">
                        <div class="mat-subtitle-2" style="padding-bottom: 16px">
                            Messages can be signed with your private key to verify your identity. This does not reveal your private key and does not put your funds in danger.
                        </div>
                        <form>
                            <!--Choose address dropdown-->
                            <mat-form-field style="width: 100%" appearance="fill">
                                <mat-select placeholder="Signing address" [formControl]="addressFormControl" required>
                                    <mat-option *ngFor="let account of store.accounts" [value]="account.index">
                                        {{ account.shortAddress }} (Index: {{ account.index }})
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!--Put in message (that has "message-" prepended)-->
                            <mat-form-field style="width: 100%" appearance="fill">
                                <mat-label>Message</mat-label>
                                <textarea
                                    matInput
                                    cdkTextareaAutosize
                                    cdkAutosizeMinRows="1"
                                    cdkAutosizeMaxRows="10"
                                    name="message"
                                    autocomplete="off"
                                    [formControl]="messageFormControl"
                                    [required]="!hasMessageFromFragment"
                                    class="text-color-disabled"
                                ></textarea>
                            </mat-form-field>
                            <mat-form-field style="width: 100%" appearance="fill">
                                <mat-label>Submit to URL</mat-label>
                                <input
                                    matInput
                                    name="submiturl"
                                    autocomplete="off"
                                    [type]="text"
                                    value=""
                                    [formControl]="urlFormControl"
                                    [required]="!hasUrlFromFragment"
                                    class="text-color-disabled"
                                />
                            </mat-form-field>
                        </form>
                        <button
                            mat-flat-button
                            color="primary"
                            matTooltip="Sign the message with the account's private key"
                            (click)="goSignMessage()"
                        >
                            Sign
                        </button>
                        <div *ngIf="messageSignature !== ''" style="padding-top: 16px">
                            <mat-form-field style="width: 80%" appearance="fill">
                                <mat-label>Signature</mat-label>
                                <input matInput [value]="messageSignature" disabled />
                            </mat-form-field>
                            <button
                                mat-icon-button
                                (click)="copyMessageSignature()"
                                style="margin-left: 8px"
                                *ngIf="!vp.sm"
                                data-cy="copy-address-desktop"
                            >
                                <mat-icon>
                                    {{ hasCopiedMessageSignature ? 'check_circle' : 'content_copy' }}
                                </mat-icon>
                            </button>
                        </div>
                        <div *ngIf="successfulSubmit">
                            Submitted successfully!
                        </div>
                    </div>
                    <!-- iirc message signing on ledger not possible because the bananojs-hw does not support it -->
                    <div *ngIf="!store.hasSecret">
                        <div class="mat-body-2">
                            Message signing not available with ledger, sorry. For message signing, please use a browser
                            wallet.
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
